<style>
  .nodata {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    color: rgb(245, 50, 50);
    font-family: Verdana, Geneva, sans-serif;
  }

  .action {
    font-size: 15px;
    color: green;
  }

  .action1 {
    font-size: 15px;
    color: red;
  }
</style>

<app-card>

  <div align=right>

    <button type="submit" class="btn btn-round" [routerLink]="['/Employee/AddNewEmployee']">Add Employee</button>

  </div><br>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
      <div>
        <label class="label-control">Show
          <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
            <option [ngValue]="1">1</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select>
          Entries
        </label>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="form-inline justify-content-end">
        <strong class="searchlabel">Search:</strong>
        <input type="search" [(ngModel)]="filterQuery" class="form-control w-50" placeholder="Enter Employee Name">
      </div>
    </div>

  </div><br>
  <!-- <div class="panel-heading">User information</div>-->

  <div class="dt-responsive" style="overflow-x:auto">
    <table class="table table-striped table-bordered table-responsive full-data-table"
      [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
      [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th>
            S.No
          </th>
          <th>
            Company Name
          </th>
          <th>
            Branch Name
          </th>
          <th>
            Location
          </th>
          <th>
            Firm Name
          </th>
          <th>
            First Name
          </th>
          <th>
            Last Name
          </th>
          <th>
            Department
          </th>
          <th>
            Sub Department
          </th>
          <th>
            Division
          </th>
          <th>
            Sub Division
          </th>
     
          <th>
            Designation
          </th>
          <th>
            Action
          </th>
        </tr>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="(data | dataFilter : filterQuery) == 0">
          <td></td>
          <td class="nodata">No matching Records found....</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        
        </tr>
        <tr *ngFor="let val of mf.data;let i=index">
          <td>{{i+1}}</td>
          <td>{{val[1]}}</td>
          <td>{{val[2]}}</td>
          <td>{{val[3]}}</td>
          <td>{{val[4]}}</td>
          <td>{{val[5]}}</td>
          <td>{{val[6]}}</td>
          <td>{{val[7]}}</td>
         
         
         
          <td> {{val[10]}} </td>
          <td>{{val[11]}} </td>
        




          <td>{{val[8]}}</td>
          <td>{{val[9]}}</td>
          <td ngbDropdown class="text-center">

            <span ngbDropdownToggle class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">
              <i class="icofont icofont-ui-settings"></i>
            </span>

            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">

              <span class="dropdown-item" href="javascript:;" [routerLink]="['/Employee/editEmployee',val[0]]"
                skipLocationChange style="cursor: pointer">
                <i class="icofont icofont-ui-edit"></i>Edit</span>

              <span class="dropdown-item" href="javascript:;" (click)="employeeDelete(val[0])" style="cursor:pointer">
                <i class="icofont icofont-attachment"></i>Delete</span>

            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="13">
            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>


</app-card>
<ng2-toasty [position]="position"></ng2-toasty>