<style>
	.nodata {
		text-align: center;
		width: 100%;
		padding: 10px;
		font-size: 25px;
		color: rgb(245, 50, 50);
		font-family: Verdana, Geneva, sans-serif;
	}

	.action {
		font-size: 15px;
		color: green;
	}

	.action1 {
		font-size: 15px;
		color: red;
	}

	
</style>
<app-card >

	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6">
			<div>
				<label class="label-control">Show
					<select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
						<option [ngValue]="1">1</option>
						<option [ngValue]="25">25</option>
						<option [ngValue]="50">50</option>
						<option [ngValue]="100">100</option>
					</select>
					Entries
				</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6">
			
			<div class="form-inline justify-content-end" >
	
				<strong class="searchstyle">Search :</strong>
				<input type="search" [(ngModel)]="filterQuery" class="form-control w-50" placeholder="Search Patient Name" autofocus>
			
		</div>

		</div>
	</div><br>
	<div class="dt-responsive">
		<div style="overflow-x: auto">
			<table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
			 #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
				<thead>
					<tr>
						<th>S.No</th>
			
			<th>Patientfirstname</th>
			<th>Patientlastname</th>
	
			<th>Address</th>
			<th>Mobile Number</th>
			<th>Phone Number</th>

			<th>Edit</th>
		
					</tr>
				</thead>
				<tbody>
				
					<tr *ngFor="let item of mf.data;let i=index">
						 
							<td>{{i+1}}  </td> 
			<td>{{item[5  ]}} </td>
			<td>{{item[6  ]}} </td>
	
			<td>{{item[11  ]}} </td>
			<td> {{item[18]}}</td>
			<td> {{item[19]}}</td>
			<td><span [routerLink]="['/Patient/patientedit',item[0]]"
				class="btn viewbtn">Edit</span></td>
					</tr>

						<tr *ngIf="(data | dataFilter : filterQuery) == 0">
						<td></td>
						<td></td>
						<td></td>
						<td class="nodata">No matching Records found....</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<!-- <td></td>
						<td></td>
						<td></td>
						<td></td> -->
					</tr>

				</tbody>

				<tfoot>
					<tr>
						<td colspan="7">
							<mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
						</td>
					</tr>
				</tfoot>
				
			</table>
		</div>
	</div>

</app-card>






