<app-card>
  <form [formGroup]="currencysettingForm" (ngSubmit)='onSubmit()'>
    <div class="form-group row">
      <div class="col-lg-4">
        <label class="col-form-label labal">Country Name</label>
        <select name="select" class="form-control inputline" formControlName="countryrefid"
          (change)="getCurrenySymbol()">
          <option value="opt1" selected disabled>---Select Country Name---</option>
        <option *ngFor="let Country of country" value={{Country[0]}}>{{Country[1]}}</option> 
        </select>
      </div>
       <div class="col-lg-4">
        <label class="col-form-label labal">Currency Name</label>
        <select name="select" class="form-control inputline" formControlName="currencyrefid">
          <option value="opt1" selected disabled>---Select Currency Name---</option>
          <option *ngFor="let Currency of currency" value={{Currency[0]}}>{{Currency[1]}}</option>
        </select>
      </div> 
      <!-- <div class="col-lg-4">
				<label class="form-label">Currency</label>
				<input type="text" class="form-control inputline" placeholder="Currency"
					formControlName="currencysymbol" disabled />
      </div> -->
     <i class="fa fa-edit"></i>
    </div>
    <div class="form-group row">
      <div class="col-lg-4">
        <button type="submit" class="btn btn-success btn-round">Save</button>
      </div>
    </div>
  </form>
</app-card>