<style>
	
	.nodata {
		text-align: center;
		width: 100%;
		padding: 10px;
		font-size: 25px;
		color: red;
		font-family: Arial;
	}


</style>

<app-card>
	<br>
	<div class="row">
			<div class="col-lg-6"></div>
		<div class="col-lg-6">
			<div class="form-inline justify-content-end">
				<strong class="searchstyle">Search :</strong>
					<input type="text" [(ngModel)]="searchText" class="form-control w-50" placeholder="Search Invoice No"/>
			</div>
		</div>
	</div><br>

	<div class="dt-responsive" style="overflow: auto;">
		<table  class="table table-striped table-bordered table-responsive full-data-table">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Purchase Invoice No</th>
					 <!-- <th>Invoice Number</th> -->
					<th>Distributor Name</th>
					<th>Invoice Date</th>
					<th>Total Products</th>
					<th>Total Amount</th>
					<th>Action</th>
				</tr>
				<tr>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="(data | category: searchText).length === 0">
					<td></td>
					<!-- <td></td> -->
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="nodata">No matching Records found....</td>
				</tr>
				<tr *ngFor="let item of data | category : searchText | paginate: { id: 'listing_pagination',
              itemsPerPage: 10,
              currentPage: page,
              totalItems: totalRec } let i = index">
					<td>{{i+1}}</td>
					<td>{{item[6]}}</td>
					<!-- <td>{{item[1]}}</td> -->
					<td>{{item[2]}}</td>
					<td>{{item[3]}}</td>
					<td>{{item[4] | number:'1.2-4'}}</td>
					<td class="right">{{item[5] | number:'2.2-4'}}</td>
					<td ngbDropdown class="text-center">
						<a ngbDropdownToggle="" class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
							<i class="icofont icofont-ui-settings"></i>
						</a>
						<div ngbDropdownMenu="" class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:;" [routerLink]="['/PurchaseInvoice/editPurchaseinvoice',item[0]]" skipLocationChange>
								<i class="icofont icofont-ui-edit"></i>Edit</a>
							<a class="dropdown-item" href="javascript:;" (click)="deletePurvinvoice(item[0])">
								<i class="icofont icofont-delete-alt"></i>Delete</a>
							<div role="separator" class="dropdown-divider"></div>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8">
						<pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event" style="float: right;"></pagination-controls>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</app-card>