<style>
.error {
	font-size: large;
	color: red;
}
</style>

<app-card>
<form [formGroup]="drugpicForm">
	<div class="sub-title">Modify/Add DrugPictures
		<i class="fa fa-picture-o ficon"></i>
	</div><br>
	
	<div class="form-group row">
		<div class="col-sm-1"></div>
		<div class="col-sm-5">
			
				<label class="form-label">Upload Photos</label>
				<div class="form-inline">
			<input type="file" formControlName="uploadpic" #fileInput
				class="form-control" [multiple]="(maxFiles > 1)"
				(change)="selectFile($event)" accept="image/*">
			<i class="fa fa-upload" style="cursor:pointer" (click)="uploadPics()"></i>
			
			<i class="fa fa-trash ml-3" style="cursor:pointer" (click)="reset()"></i>
			</div>	
			<div class="error" *ngIf="errors.length > 0">
				<ul>
					<li *ngFor="let err of errors">{{err}}</li>
				</ul>
			</div>
		</div>
	</div>
</form>
</app-card>