
<style>
  
  .borderform{

    border: 2px solid #b3b3b3 ;
    border-radius: 5px;  
    padding:1em;

  }


      </style>
          
        
          <app-card>
          <div class="sub-title">Sales Return Details
            <i class="fa fa-reply ficon"></i>
          </div><br>
          
          <form [formGroup]="registerForm" >
          
          
              <div class="box-typical box-typical-padding">
          
            <div class="borderform"> <!-- splitcolumnbefore1   start-->

          
                              <div class="row">
              
                            
                                          <div class="col-md-4">
                                                  
                                          
                                                            <label class="form-label semibold" for="exampleInput">Sales Invoice No
                                                         </label> 
                                                      
                                                      <div id="state">
                                                              <select class="select2" id="docstate" class="form-control"
                                                              (change)="viewSInvoiceProduct()"    formControlName="invoiceno">
                                                                  <option *ngFor="let item of invoices; let i = index"
                                                                      value={{item[0]}}>{{item[1]}}</option>
                                                              </select>
                                                          </div>
                                            
                                          
                                              </div> 
      
                                                       <div class="col-md-4">
                                          
                                  
                                                              <label class="form-label semibold" for="exampleInput"> Invoice Date 
                                                                     </label> 
                                                          
                                                
                                            <input type="date"   
                                            class="form-control"   formControlName="date" />
                                         
                                    
                                  
                                         </div> 
                                                  
                                      <div class="col-md-4">
                                              
                                      
                                                    <label class="form-label semibold" for="exampleInput">Customer Name
                                                            </label> 
                                                              
                                                   
                                                <input type="text"   
                                                class="form-control"     formControlName="customername"  />
                                          
                                        
                                      
                                          </div> 
                                                   
                                  </div> 
              
          
                      </div>   <!-- splitcolumn  end--> 
                   <br>
                   <label class="title1"><u> Return Products</u>
                    </label> <br>
                                                                         
                                       <div formArrayName="invoice"  class="flow">  <!--. table  start--> 
                                        
                                       
                                            <table class="table "  id="knowledgeTreeTable"     (keydown)="autocleartable1()" >
                                             <thead class="stylehead">
                                             <tr>

                                                <th >Select  </th>
                                                 <th>S. No </th>  
                                                   <th>Prod Code</th>                                        
                                                 <th>Prod Name</th>
                                                 <th>  Batch No  </th>
                                                 <th>
                                                        Expiry Date 
                                                     </th>

                                              <!--      <th>B/S/T</th>     -->                      
                                                 <th>Invoice Qty</th>

                                                 <th>Unit Return </th>
                                                 <th>Total Return </th>
                                                 <th>Sales Price </th>
                                                 <th> Unit Dis % </th>

                                                 <th  *ngIf="registerForm.controls.vatdispflag.value=='0'" >VAT %</th>    

                                                <th  *ngIf="registerForm.controls.vatdispflag.value=='1'">SGST </th>
                                                 <th  *ngIf="registerForm.controls.vatdispflag.value=='1'">CGST </th>
                                                 <th  *ngIf="registerForm.controls.vatdispflag.value=='1'">IGST </th> 
                                                 <th>Amount </th>

                                              <!--      <th>SiQty </th>
                                                 <th>StkQty </th>  -->
                                            

                                             </tr>
                                         </thead>
                                         <tbody class="stylebody">
                                        
                                         <tr *ngFor="let address of registerForm.controls.invoice.controls; let i=index" [formGroupName]="i">
                                     
                                        <td><input   type="checkbox" class="tabcheck" id="width1"   formControlName="delflag"   /></td>
                                         <td><input   value={{i+1}} id="width2"  readonly/></td>   
                                           <td><input  formControlName="drugproductid"    readonly/></td>

                                         <td><input  formControlName="productname"  id="width6" style="text-align:left" readonly  /></td>
                                         <td><input  formControlName="batchname"  id="width4" style="text-align:left"   readonly /></td>
                                         <td><input  formControlName="expirydate"   readonly/></td>  


                                      <!--      <td ><input  formControlName="drgtyp"   /></td>  -->
                                         <td><input  formControlName="siqty"     readonly/></td>

                                
                                         <td><input  formControlName="indvqty" id="width3"  (keydown)="calc($event)" (blur)="calcGST()"  type="text"/></td>
                                         <td><input  formControlName="totalqty" id="width3"    readonly /></td>
                                         <td><input  formControlName="unitprice" class="right"   (keydown)="calc($event)"  type="number"/></td>
                                         <td><input  formControlName="unitdiscount" id="width2"    readonly/></td>
                                    	  	 <td  *ngIf="registerForm.controls.vatdispflag.value=='0'"><input  formControlName="unitvat" id="width2" /></td>
                                         <td  *ngIf="registerForm.controls.vatdispflag.value=='1'"><input  formControlName="unitsgst" id="width2" /></td>
									                  	   <td  *ngIf="registerForm.controls.vatdispflag.value=='1'"><input  formControlName="unitcgst" id="width2"/></td>
									                      <td  *ngIf="registerForm.controls.vatdispflag.value=='1'"><input  formControlName="unitigst" id="width2"/></td>  
                                         <td  ><input  formControlName="subtotal" class="right" /></td>
                                     
                                       <!--     <td><input  formControlName="crntsiqty" /></td>
                                         <td><input  formControlName="crntstkqty" /></td>  -->
         
                                          </tr>
                                     </tbody>
                                      </table>
                    
                                </div>  <br>   <!--. table     end--> 



         <div class="col-lg-2 ml-4">   
         <button  type="button" class="btn btn-round"   (click)="remove()"> Remove  </button>    
        </div>  <br>



              <div class="borderform"> <!-- splitcolumnbefore1   start-->


                  <div class="row">    <!-- splitcolumn start--> 
                    
                      
                                                              <div class="col-md-3">
                                                            
                                                    
                                                                                <label class="form-label semibold" for="exampleInput">Total Product 
                                                                                       </label> 
                                                                        
                                                                      <input type="text" 
                                                                      class="form-control"  formControlName="totalitems"  disabled  />
                                                                 
                                                              
                                                            
                                                                </div> 
                                                 
                                                                <div class="col-md-3">
                                                                  
                                                          
                                                                      <label class="form-label semibold" for="exampleInput">Grand  Total
                                                                                    </label> 
                                                                                  
                                                                           
                                                                <input type="text" 
                                                                class="form-control"  formControlName="grandtotal"  disabled/>
                                                        
                                                         
                                                           <p class="messages text-danger marginzero"
                                                     *ngIf="registerForm.controls.grandtotal.errors?.min">Total Zero 
                                                           </p>


                                                            </div> 

                                                            <div class="col-md-3">
                                                            
                                                    
                                                                <label class="form-label semibold" for="exampleInput">Sub Total 
                                                                       </label> 
                                           
                                                      <input type="text" 
                                                      class="form-control"  formControlName="totalamount"  disabled />
                                                 
                                              
                                            
                                                    </div> 

                                                    <div class="col-md-3">
                                                                    
                                                            
                                                        <label class="form-label semibold" for="exampleInput">Total Discount Amount  
                                                               </label> 
                                               
                                      <input type="text" 
                                      class="form-control"   formControlName="totaldiscount" />
                                  
                              
                            
                                       </div>   
                                                             


                              
                              
                                         </div>   <!-- subcolumn  end--> 
                      
                      
                                     
                                              <div class="row mt-2">
                              
                                          
                                                  <div class="col-md-3">
                                                                               
                                                      <label class="form-label semibold" for="exampleInput">Taxable Amt
                                                                   </label> 
                                                                     
                                                                
                                                     <input type="text" 
                                                     class="form-control"  formControlName="taxableamt"  disabled  />
                                          
                                               </div> 

                                                   <div class="col-md-3">
                                                           
                                                   
                                                         <label class="form-label semibold" for="exampleInput">Total Taxamt
                                                                </label> 
                                                                           
                                                                   
                                                     <input type="text" 
                                                     class="form-control"  formControlName="totaltaxamt"  disabled />
                                                 
                                             
                                           
                                               </div> 


                                                  


                                                        <div class="col-md-3">
                                                                
                                                        
                                                                                    <label class="form-label semibold" for="exampleInput">Rounded Off 
                                                                                           </label> 
                                                                                
                                                                       
                                                                      <input type="text" 
                                                                      class="form-control"   formControlName="roundoff"  disabled />
                                                                  
                                                              
                                                            
                                                                </div> 
                    
      
                                             </div>   <!-- subcolumn  end--> 
                                         
                        
                      
                             </div>      <!-- Border form end--> 
                                
                                  
            <ng2-toasty [position]="position"></ng2-toasty>
           
            </div>
              <!-- box-typical-->                  
          
          </form><br>
          <!--addresses-->
    
       
          
          <div class="row">   <!-- row Start--> 

            <div class="col-lg-1"></div>
            <div class="col-lg-2">  <button  type="button" class="btn btn-round" (click)="onSubmit()"   > Save  </button>   </div>     
            <div class="col-lg-2">   <button  type="button" class="btn btn-round"    
                  [routerLink]="['/SalesReturn/slsRetEdit' ]"     > Edit  </button>    </div> 
                                                                                       
         </div>  <!-- row end--> 
           
        
          </app-card>
          
          