
		<app-card>
			<div class="sub-title">Employee Details
				<i class="fa fa-user ficon"></i>
			</div><br>

			<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="mx-2">


				<div class="form-group row">
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Company Name</label>
							<select name="select" class="form-control" id="company" formControlName="companyid"
								(change)="getBranche()" (click)="getBranche()"
								onfocus="if(this.options.length>5){this.size=5;}"
								onmousedown="if(this.options.length>5){this.size=5;}"
								onkeypress="if(this.options.length>5){this.size=5;}" onchange='this.size=0;'
								onblur="this.size=0;" autofocus>
								<option value="opt1" selected disabled>--Select Company Name--</option>
								<option *ngFor="let companyid of companies" value={{companyid[0]}}>{{companyid[1]}}
								</option>
							</select>
						</fieldset>
					</div>
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Branch Name</label>
							<select name="select" class="form-control" id="branch" formControlName="branchid"
								(change)="getLoc()" onfocus="if(this.options.length>5){this.size=5;}"
								onmousedown="if(this.options.length>5){this.size=5;}"
								onkeypress="if(this.options.length>5){this.size=5;}" onchange='this.size=0;'
								onblur="this.size=0;">
								<option value="opt1" selected disabled>--Select Branch Name--</option>
								<option *ngFor="let branchid of branches" value={{branchid[0]}}>{{branchid[1]}}</option>
							</select>
						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Location Name</label>
							<select name="select" class="form-control" formControlName="locname" (change)="getLoc()"
								(change)="getFirm()">
								<option value="opt1" selected disabled>--Select Location Name--</option>
								<option value="1">Shop</option>
								<option value="2">Warehouse</option>
								<option value="3">Hospital</option>
							</select>
						</fieldset>
					</div>
				

				</div>

				<div class="form-group row">

					<!-- <div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Employee Code</label>
							<input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control"
								formControlName="employeecode" placeholder="Enter the EmployeeCode">
						</fieldset>
					</div> -->

					<div class="col-lg-4">

						<fieldset class="form-group">
							<label class="form-label">Firm Name</label>
							<select name="select" class="form-control" formControlName="locrefid" (click)="getFirm()"
								onfocus="if(this.options.length>5){this.size=5;}"
								onmousedown="if(this.options.length>5){this.size=5;}"
								onkeypress="if(this.options.length>5){this.size=5;}" onchange='this.size=0;'
								onblur="this.size=0;">
								<option value="opt1" selected disabled>--Select Firm Name--</option>
								<option *ngFor="let locrefid of firms" value={{locrefid[0]}}>{{locrefid[1]}}</option>

							</select>
						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Employee Mode</label>
							<select name="select" class="form-control" formControlName="employeemode">
								<option value="optone" selected disabled>-- Select Title --</option>
								<option value="Permanent">Permanent</option>
								<option value="Contract">Contract</option>
								<option value="Temprorary">Temprorary</option>
							</select>

						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Employee Type</label>
							<input type="text" class="form-control" placeholder="Enter Employee type"
								formControlName="employeetype">
						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Employee Title</label>
							<select name="select" class="form-control" formControlName="emptitle">
								<option value="optone" selected disabled>-- Select Title --</option>
								<option value="Mr">Mr.</option>
								<option value="Mrs">Mrs.</option>
								<option value="Ms">Ms.</option>
							</select>

						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">First Name</label>
							<input type="text" class="form-control" placeholder="Enter Employee First Name"
								formControlName="empfirstname">
							<div class="messages text-danger" *ngIf="myForm.controls.empfirstname.errors?.required">This
								Field is Required*</div>
							<div class="messages text-danger" *ngIf="myForm.controls.empfirstname.errors?.pattern">Text
								Only Accepts!</div>
						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Last Name</label>
							<input type="text" class="form-control" placeholder="Enter Employee Last Name"
								formControlName="emplastname">
							<div class="messages text-danger" *ngIf="myForm.controls.emplastname.errors?.pattern">Text
								Only Accepts!</div>

						</fieldset>
					</div>

				</div>

				<!-- <div class="form-group row">
					
					 <div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Employee Mode</label>
							<input type="text" class="form-control" placeholder="Enter Employee Mode" formControlName="employeemode">
						</fieldset>
					</div> 

					
				</div> -->

				<div class="form-group row">

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Department</label>


							<!-- <input type="text" class="form-control" id="department"
								placeholder="Enter Employee Department" formControlName="department">
							<div class="messages text-danger" *ngIf="myForm.controls.department.errors?.pattern">Text
								only Accepts!</div> -->



							<select name="select" class="form-control" placeholder="Select Department"
								formControlName="department"
								(change)="searchwithcodefordept($event.target.value, deptmodel);getSubDepartment()">
								<option selected disabled value="0">---Select Department---</option>
								<option value="dept" style="background-color: #52aa0c"> Add Department
								</option>
								<option *ngFor="let dept of departmentarr;" value="{{dept[0]}}"> {{dept[1]}}
								</option>
							</select>









						</fieldset>
					</div>


					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Sub Department</label>

							<!-- <input type="text" class="form-control" id="department"
								placeholder="Enter Employee Sub Department" formControlName="subdepartment"> -->


							<select name="select" class="form-control" placeholder="Select Sub Department"
								formControlName="subdepartment"
								(change)="searchwithcodeforsubdept($event.target.value, subdeptmodel)"
								(change)="getDivision()">
								<option selected disabled value="0">---Select Sub Department---</option>
								<option value="subdept" style="background-color: #52aa0c"> Add Sub Department
								</option>
								<option *ngFor="let subdept of subdepartmentarr;" value="{{subdept[0]}}"> {{subdept[1]}}
								</option>
							</select>






							<!-- <div class="messages text-danger" *ngIf="myForm.controls.department.errors?.pattern">Text
								only Accepts!</div> -->






						</fieldset>
					</div>


					
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Division</label>

							<!-- <input type="text" class="form-control" id="division" placeholder="Enter Employee Division"
								formControlName="division"> -->




							<select name="select" class="form-control" placeholder="Select Division"
								formControlName="division"
								(click)="searchwithcodefordivision($event.target.value, divsionmodel)"
								(change)="getSubDivision()">
								<option selected disabled value="0">---Select Division---</option>
								<option value="division" style="background-color: #52aa0c"> Add Division
								</option>
								<option *ngFor="let division of divsionarr;" value="{{division[0]}}"> {{division[1]}}
								</option>
							</select> 

							<!-- <div class="messages text-danger" *ngIf="myForm.controls.division.errors?.pattern">Text only Allowed!</div> -->

						</fieldset>
					</div>
			
				</div>




				<div class="form-group row">


					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Sub Division</label>
							<!-- <input type="text" class="form-control" id="division"
								placeholder="Enter Employee Sub Division" formControlName="subdivision"> -->



							<select name="select" class="form-control" placeholder="Select Sub Division"
								formControlName="subdivision"
								(click)="searchwithcodeforsubdivsion($event.target.value, subdivsionmodel)">

								<option selected disabled value="0">---Select Sub Division---</option>


								<option value="subdivision" style="background-color: #52aa0c"> Add Sub Division
								</option>



								<option *ngFor="let subdivision of subdivsionarr;" value="{{subdivision[0]}}">
									{{subdivision[1]}}
								</option>

							</select>

							<!-- <div class="messages text-danger" *ngIf="myForm.controls.division.errors?.pattern">Text only Allowed!</div> -->


						</fieldset>
					</div>




					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Designation</label>
							<input type="text" class="form-control" id="desgination"
								placeholder="Enter Employee Desgination" formControlName="desgination">
							<div class="messages text-danger" *ngIf="myForm.controls.desgination.errors?.pattern">Text
								only Accepts!</div>
						</fieldset>
					</div>
				</div>





				<div class="form-group row">

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold">Date Of Join</label>
							<input type="date" class="form-control" placeholder="Enter your joining date"
								required="true" formControlName="joiningdate">
							<div class="messages text-danger" *ngIf="myForm.controls.joiningdate.errors?.required">This
								Field is Required*</div>
						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold">Gender</label>
							<br>
							<label>
								<input type="radio" value="Male" name="gender" formControlName="gender"> Male
							</label>
							<label>
								<input type="radio" value="Female" name="gender" formControlName="gender">Female
							</label>
						</fieldset>
					</div>


					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold">Allow Login</label>
							<br>
							<label>
								<input type="radio" value="Yes" name="allowlogin" formControlName="allowlogin">Yes
							</label>
							<label>
								<input type="radio" value="No" name="allowlogin" formControlName="allowlogin">No
							</label>
						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold">Date Of Birth </label>
							<input type="date" class="form-control" placeholder="Enter Employee DOB"
								formControlName="dob">

						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold">Age</label>
							<input type="number" class="form-control" formControlName="age">

						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold">Mobile No </label>
							<input type="number" class="form-control" placeholder="Enter Employee MobileNo"
								required="true" formControlName="mobileno">
							<div class="messages text-danger" *ngIf="myForm.controls.mobileno.errors?.required">This
								Field is Required*</div>
						</fieldset>
					</div>

				</div>
				
				<div class="form-group row">

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Employee Email Id</label>
							<input type="text" onkeyup="this.value = this.value.toLowerCase();" class="form-control"
								id="email" placeholder="Enter Employee Mail id" formControlName="email">
							<div class="messages text-danger" *ngIf="myForm.controls.email.errors?.pattern">Enter
								Correct Mail!</div>

						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Blood Group</label>
							<input type="text" class="form-control" placeholder="Enter Employee Blood Group"
								formControlName="bloodgroup">
							<div class="messages text-danger" *ngIf="myForm.controls.bloodgroup.errors?.required">This
								Field is Required*</div>
						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Current Salary Per Month</label>
							<input type="text" class="form-control" placeholder="Enter Employee Salary"
								formControlName="empsalary">
						</fieldset>
					</div>

				</div>

				<div class="form-group row">

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Company Email Id</label>
							<input type="text" onkeyup="this.value = this.value.toLowerCase();" class="form-control"
								id="compemail" placeholder="Enter Company Mail id" formControlName="compemail">
							<div class="messages text-danger" *ngIf="myForm.controls.compemail.errors?.pattern">Enter
								Correct Mail!</div>
						</fieldset>
					</div>

					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label">Passport No</label>
							<input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control"
								id="passport" placeholder="Enter Employee Passport Number" formControlName="passport">
						</fieldset>
					</div>

					<div class="col-lg-4">

							<div class="form-inline">
								<input type="file" class="form-control" id="imagefile"
								(change)="fileChange($event)" #fileInput accept="image/*"/>
	
								<span class="fa fa-eye mt-2" style="cursor: pointer" (click)="imageshow()" *ngIf="showeye"></span>
								<span class="fa fa-eye-slash mt-2" style="cursor: pointer" (click)="hide()" *ngIf="showeyeslash"></span>
								<span class="fa fa-trash mt-2 ml-2" style="cursor: pointer" (click)="reset()"></span>
							</div><br>
	
								<div class="imageview" *ngIf="showimage">
								<img [src]="imgURL" height="180" width="260"/>
								</div>
	
								<span style="color:red;" *ngIf="message">{{message}}</span>
						</div>

				
				</div><br>

					<!-- <div class="col-lg-4">
						<fieldset class="form-group">
							<label class=" col-form-label">PAN Card</label>
							<input type="text"  onkeyup="this.value = this.value.toUpperCase();" class="form-control" id="pancard" placeholder="Enter Employee Pancard Number" formControlName="pancard">
							
						</fieldset>
					</div> -->


				<!-- <div class="form-group row">


					 <div class="col-lg-4">
						<fieldset class="form-group">
							<label class=" col-form-label">Aadhar Card</label>
							<input type="text" class="form-control" id="aadharcard" placeholder="Enter Employee AdharCard Number"
							 formControlName="aadharcard">
							<div class="messages text-danger" *ngIf="myForm.controls.aadharcard.errors?.pattern">Number only allowed..</div>
						</fieldset>
					</div> 
				</div> -->



				<div class="form-group row mt-2">

					<div class="col-lg-1"></div>
					<div class="col-lg-3">
						<button type="submit"  class="btn btn-round">Save</button>
					</div>


					<div class="col-lg-3">
						<button type="submit"  class="btn btn-round" [routerLink]="['/Employee/editEmployee/:id']">Edit</button>
					</div>


					<!-- [attr.disabled]="!myForm.valid" -->
					<div class="col-lg-3">
						<button type="submit" class="btn btn-round"
							[routerLink]="['/Employee/ViewEmployee']">View</button>
					</div>

					<div class="col-lg-2">
						<label class="btn btn-round mt-4" (click)="opendept(dept)">Tax Excempt</label>
					</div>

					<div class="col-lg-2">
						<label class="btn btn-round mt-4" (click)="opensubdivision(subdivision)">Tax Except</label>
					</div>

				</div>


				<ng-template #deptmodel let-c="close" let-d="dismiss">
					<div class="modal-header">
						<label class="form-label"> Add Department</label>
						<i class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></i>
					</div>
					<img src="assets/images/poptab.jpg" class="mt-4 modimg"><br>

					<div class="modal-body mx-5">
						<input class="form-control" id="genericnumber" formControlName="departmentname"
							placeholder="Enter Department Name" />

					</div>
					<div class="modal-footer">
						<label class="btn modbtn" id="type" (click)="saveDepartment(c)">Save Department</label>

					</div>
				</ng-template>



				<ng-template #subdeptmodel let-c="close" let-d="dismiss">
					<div class="modal-header">
						<label class="form-label"> Add Sub Department</label>
						<i class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></i>
					</div>
					<img src="assets/images/poptab.jpg" class="mt-4 modimg"><br>


					<div class="modal-body mx-5">

						<!-- <select name="select" class="form-control" placeholder="Select Main Group" formControlName="">
							<option selected disabled value="0">---Select Department---</option>

						</select><br> -->

						
						<select name="select" class="form-control" placeholder="Select Department"
								formControlName="department"
								(change)="searchwithcodefordept($event.target.value, deptmodel);getSubDepartment()">
								<option selected disabled value="0">---Select Department---</option>
								<option *ngFor="let dept of departmentarr;" value="{{dept[0]}}"> {{dept[1]}}
								</option>
							</select> <br>


					

						<input class="form-control" id="genericnumber" formControlName="subdepartmentname"
							placeholder="Enter Sub Department Name" />

					</div>
					<div class="modal-footer">
						<label class="btn modbtn" id="type" (click)="saveSubDepartment(c)">Save Sub Department</label>

					</div>
				</ng-template>

				<ng-template #divsionmodel let-c="close" let-d="dismiss">
					<div class="modal-header">
						<label class="form-label"> Add Division</label>
						<i class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></i>
					</div>
					<img src="assets/images/poptab.jpg" class="mt-4 modimg"><br>


					<div class="modal-body mx-5">

						

						<select name="select" class="form-control" placeholder="Select Department"
								formControlName="department"
								(change)="searchwithcodefordept($event.target.value, deptmodel);getSubDepartment()">
								<option selected disabled value="0">---Select Department---</option>
								<option *ngFor="let dept of departmentarr;" value="{{dept[0]}}"> {{dept[1]}}
								</option>
							</select> <br>



							<select name="select" class="form-control" placeholder="Select Sub Department"
							formControlName="subdepartment"
							(change)="searchwithcodeforsubdept($event.target.value, subdeptmodel)"
							(change)="getDivision()">
							<option selected disabled value="0">---Select Sub Department---</option>
							<option *ngFor="let subdept of subdepartmentarr;" value="{{subdept[0]}}"> {{subdept[1]}}
							</option>
						</select> <br>



						<input class="form-control" id="genericnumber1" formControlName="divisionname"
							placeholder="Enter Division Name" />

					</div>
					<div class="modal-footer">
						<label class="btn modbtn" id="type" (click)="saveDivision(c)">Save Division</label>

					</div>
				</ng-template>



				<ng-template #subdivsionmodel let-c="close" let-d="dismiss">
					<div class="modal-header">
						<label class="form-label"> Add Sub Division</label>
						<i class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></i>
					</div>
					<img src="assets/images/poptab.jpg" class="mt-4 modimg"><br>



					<div class="modal-body mx-5">

						<select name="select" class="form-control" placeholder="Select Department"
						formControlName="department"
						(change)="searchwithcodefordept($event.target.value, deptmodel);getSubDepartment()">
						<option selected disabled value="0">---Select Department---</option>
						<option *ngFor="let dept of departmentarr;" value="{{dept[0]}}"> {{dept[1]}}
						</option>
					</select> <br>



					<select name="select" class="form-control" placeholder="Select Sub Department"
					formControlName="subdepartment"
					(change)="searchwithcodeforsubdept($event.target.value, subdeptmodel)"
					(change)="getDivision()">
					<option selected disabled value="0">---Select Sub Department---</option>
					<option *ngFor="let subdept of subdepartmentarr;" value="{{subdept[0]}}"> {{subdept[1]}}
					</option>
				</select> <br>



				<select name="select" class="form-control" placeholder="Select Division"
				formControlName="division"
				(change)="searchwithcodefordivision($event.target.value, divsionmodel)"
				(change)="getSubDivision()">
				<option selected disabled value="0">---Select Division---</option>
				<option *ngFor="let division of divsionarr;" value="{{division[0]}}"> {{division[1]}}
				</option>
			</select> <br>


						<input class="form-control" id="genericnumber2" formControlName="subdivisionname"
							placeholder="Enter Subdivision Name" />

					</div>

					<div class="modal-footer">
						<label class="btn modbtn" id="type" (click)="saveSubDivision(c)">Save Sub Division</label>

					</div>
				</ng-template>


			</form>

		</app-card>
	<ng2-toasty [position]="position"></ng2-toasty>
	