<style>
	.nodata {
		text-align: center;
		width: 100%;
		padding: 10px;
		font-size: 25px;
		color: rgb(245, 50, 50);
		font-family: Verdana, Geneva, sans-serif;
	}

	.action {
		font-size: 15px;
		color: green;
	}

	.action1 {
		font-size: 15px;
		color: red;
	}

</style>

<app-card>

		<div align=right>                 
				
			<button type="submit" class="btn btn-round"  [routerLink]="['/AssignBarcode/AddBarcode']">Add Barcode</button>                    
				
		</div> 

	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
			<div>
				<label class="label-control">Show
					<select class="form-control  input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
						<option [ngValue]="1">1</option>
						<option [ngValue]="25">25</option>
						<option [ngValue]="50">50</option>
						<option [ngValue]="100">100</option>
					</select>
					Entries
				</label>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="form-inline justify-content-end">

				<strong class="searchstyle">Search:</strong>
					<input type="search" [(ngModel)]="filterQuery" class="form-control w-50" placeholder=" Enter Product Name">
			
			</div>
		</div>

	</div><br>


	<div align="center">
		<img src="assets/images/loading.gif" height="100px" *ngIf="gifFail">
	</div><br>


	<div class="dt-responsive" style="overflow:auto">

		<table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
		 #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
			<thead>
				<tr>
					<th>
						<mfDefaultSorter by="sno">S.No</mfDefaultSorter>
					</th>
					<th>
						<mfDefaultSorter by="empfirstname">Product Code</mfDefaultSorter>
					</th>
					<th>
						<mfDefaultSorter by="emplastname">Product Name</mfDefaultSorter>
					</th>
					<th>
						<mfDefaultSorter by="department">Barcode</mfDefaultSorter>
					</th>
					<th>
						<mfDefaultSorter by="department">Company Name</mfDefaultSorter>
					</th>
					<th>
						<mfDefaultSorter by="department">Branch Name</mfDefaultSorter>
					</th>
					<th>
						<mfDefaultSorter by="department">Location Name</mfDefaultSorter>
					</th>
					<th>
						<mfDefaultSorter by="department">Firm Name</mfDefaultSorter>
					</th>
					<th>
						<mfDefaultSorter by="Action">Status</mfDefaultSorter>
					</th>
				</tr>
				<tr>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="(data | dataFilter : filterQuery) == 0">
					<td></td>
					<td class="nodata">No matching Records found....</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr *ngFor="let val of mf.data;let i=index">
					<td>{{i+1}}</td>
					<td>{{val[0]}}</td>
					<td>{{val[1]}}</td>
					<td>{{val[2]}}</td>
					<td>{{val[3]}}</td>
					<td>{{val[4]}}</td>
					<td>{{val[5]}}</td>
					<td>{{val[6]}}</td>
					
					<td>
						<span class="label label-success" *ngIf="val[4]=='0'" style="font-size: 16px;">Active</span>
						<span class="label label-danger" *ngIf="val[4]=='2'" style="font-size: 16px;">In Active</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="9">
						<mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
					</td>
				</tr>
			</tfoot>
		</table>
				
	</div>
	
</app-card>