
<app-card>
	<div class="sub-title">Doctor Details
		<i class="fa fa-user-md ficon"></i>
	</div><br>
	<div align="right">
		<button class="btn btn-round" (click)="view()">View</button>
	</div>
	<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()" class="mx-3">
		<div class="form-group row">
			<div class="col-lg-4">
				<label class="form-label semibold">
					<h6>Title</h6>
				</label>
				<select name="select" class="form-control" formControlName="title" autofocus>
					<option value="Mr">Mr.</option>
					<option value="Mrs">Mrs.</option>
					<option value="Dr">Dr.</option>
				</select>
			</div>
			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold control-label">
						<h6>Doctor Name</h6>
					</label>
					<input type="text" class="form-control" placeholder="Enter Doctor Name"
						formControlName="doctorname"/>
					
					<p class="messages text-danger" *ngIf="doctorForm.controls.doctorname.errors?.required">
							This Field is Required*</p>
					<p class="messages text-danger" *ngIf="doctorForm.controls.doctorname.errors?.pattern">
									Accepts Only Text*</p>
				</fieldset>
			</div>
			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>PRC Number</h6>
					</label>
					<input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Professional Regulation Commission Number"
						formControlName="registrationno" />
				</fieldset>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-lg-4">
				<div>
					<label class="form-label semibold">
						<h6>Gender</h6>
					</label>
				</div>
				<label class="radio">
					<input type="radio" value="Male" name="gender" formControlName="gender" checked> Male
				</label>
				<label class="radio">
					<input type="radio" value="Female" name="gender" formControlName="gender"> Female
				</label>
			</div>
			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>Doctor DOB</h6>
					</label>
					<input type="date" class="form-control" placeholder="Enter your DOB" formControlName="docdob" />
				</fieldset>
			</div>
			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>Address Line1</h6>
					</label>
					<input type="text" class="form-control" placeholder="Enter your Address Line 1"
						formControlName="docaddress1" />
					
					<p class="messages text-danger" *ngIf="doctorForm.controls.docaddress1.errors?.required">
							This Field is Required*</p>
				</fieldset>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>Address Line2</h6>
					</label>
					<input type="text" class="form-control" placeholder="Enter your Address Line 2"
						formControlName="docaddress2" />
				</fieldset>
			</div>
			<div class="col-sm-4">
				<label class="form-label semibold">
					<h6>Country</h6>
				</label>
				<select name="select" class="form-control" placeholder="Select Country" formControlName="country"
					(change)="getState()" >
					<option value="0">---Select Country---</option>
					<option *ngFor="let coun of country" value={{coun[0]}}>{{coun[1]}}</option>
				</select>
			</div>
			<div class="col-sm-4">
				<label class="form-label semibold">
					<h6>State</h6>
				</label>
				<select name="select" class="form-control" formControlName="state" (change)="getCity()" >
					<option value="0">---Select State---</option>
					<option *ngFor="let st of state" value={{st[0]}}>{{st[2]}}</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-4">
				<label class="form-label semibold">
					<h6>Location / City</h6>
				</label>
				<select name="select" class="form-control" formControlName="city" >
					<option value="0">---Select City---</option>
					<option *ngFor="let co of city" value={{co[0]}}>{{co[1]}}</option>
				</select>
			</div>
			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>ZIP/PIN Code</h6>
					</label>
					<input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Enter your Pincode"
						formControlName="pincode" />
				</fieldset>
			</div>
			<div class="col-sm-4">
				<label class="form-label semibold">
					<h6>Country Code</h6>
				</label>
				<select name="select" class="form-control" formControlName="countrycode">
					<option value="0">---Select Country Code---</option>
					<option *ngFor="let co of countrycode" value={{co}}>{{co}}</option>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-lg-4">
				<label class="form-label semibold">
					<h6>Mobile Number</h6>
				</label>
				<input type="number" class="form-control" placeholder="Enter your Mobile Number"
					formControlName="mobile" />

					<p class="messages text-danger" *ngIf="doctorForm.controls.mobile.errors?.required">
						This Field is Required*</p>
			</div>

			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>Phone Number</h6>
					</label>
					<input type="number" class="form-control" placeholder="Enter your Phone" formControlName="phone" />
				</fieldset>
			</div>
			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>Email ID</h6>
					</label>
					<input type="email" class="form-control" placeholder="Enter your Email" formControlName="email" />
					<p class="messages text-danger" *ngIf="doctorForm.controls.email.errors?.pattern">
						Enter Correct Mail!</p>
				</fieldset>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-lg-4">
				<label class="form-label semibold">
					<h6>Website</h6>
				</label>
				<input type="text"  onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Enter your Website" formControlName="website" />
			</div>

			<!-- <div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold"><h6>Aadhar No</h6></label>
					<input type="text" class="form-control" placeholder="Enter your Aadhaar" formControlName="aadhaarcardno" />
				</fieldset>
			</div>  -->
			

			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>Language's</h6>
					</label>
					<input type="text" class="form-control" placeholder="Enter your Languages"
						formControlName="language" />
				</fieldset>
			</div>

			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>Years of Experience</h6>
					</label>
					<input type="text" class="form-control" placeholder="Enter your Experience"
						formControlName="experience" />
				</fieldset>
			</div>
		</div>

		<div class="form-group row">




			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">
						<h6>Working Hours</h6>
					</label>
					<input type="text" class="form-control" placeholder="Enter your Working-Hours"
						formControlName="workhour" />
				</fieldset>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-lg-4">
				<button type="submit" class="btn btn-round" style="margin:26px;" [disabled]="!doctorForm.valid">Save</button>
			</div>
		</div>
	</form>
</app-card>

<ng2-toasty [position]="position"></ng2-toasty>