<style>
     input[type="checkbox"] {
     width:1.5em;
     height:1.8em
     }
</style>

<app-card>
    <div class="sub-title">Customer Details
        <i class="fa fa-user ficon"></i>
    </div><br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mx-3">
        <div class="box-typical box-typical-padding">
            <div class="row">
                <div class="col-lg-4" style="display: none;">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput">
                            Patient Id </label> <input type="text" name="doctorName" class="form-control" id="docid"
                            placeholder="" formControlName="ptid" />
                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput">
                            Customer First Name</label> 
                            <input type="text" name="doctorName" class="form-control"
                            id="docid" placeholder="" formControlName="patientfirstname" autofocus/>
                        <p class="messages text-danger" *ngIf="registerForm.controls.patientfirstname.errors?.required">
                            This Field is Required*</p>
                        <p class="messages text-danger" *ngIf="registerForm.controls.patientfirstname.errors?.pattern">
                            Text Only Accepts!</p>
                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">Customer Last Name </label>
                        <input type="text" class="form-control" id="docregistrationid" placeholder=""
                            formControlName="patientlastname" />
                        
                        <p class="messages text-danger" *ngIf="registerForm.controls.patientlastname.errors?.pattern">
                            Text Only Accepts!</p>
                    </fieldset>
                </div>

                <div class="col-lg-4">
                    
                        <fieldset class="form-group">

                            <label class="form-label semibold">Gender</label><br>
                         
                            <input type="radio" value="Male" name="gender" formControlName="gender" checked> Male
                      
                            <input type="radio" class="ml-2" value="Female" name="gender" formControlName="gender"> Female
                     

                    
                        </fieldset>
                 </div>
        
                 <div class="col-lg-4 mt-2">
                        <fieldset class="form-group">
                            <label class="form-label semibold" for="exampleInput">Date of Birth
                            </label> <input type="date" class="form-control" id="docphonenumber"
                                formControlName="dob" />
                        </fieldset>
                    </div>    


                 <div class="col-lg-4 mt-2">
                        <fieldset class="form-group">
                            <label class="form-label semibold" for="exampleInput">Age
                            </label> <input type="number" class="form-control" id="docphonenumber"
                                formControlName="age" />
                        </fieldset>
                    </div>    


                <div class="col-lg-4 mt-2">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput">TIN Number
                        </label> <input class="form-control" id="docphonenumber" placeholder="Goods & Service Tax"
                            formControlName="tinno" />
                    </fieldset>
                </div>
                <!-- <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">GST Number</label> <input type="text"
                            class="form-control" formControlName="gstno" />
                    </fieldset>
                </div> -->
                <div class="col-lg-4 mt-2">
                    <label class="form-label" for="exampleInput">VAT Number</label>
                    <input type="text" class="form-control" formControlName="vatno" />
                </div>

                <div class="col-lg-1 mt-2">
                    <label class="form-label" for="exampleInput">Select</label><br>
                    <input type="checkbox"  formControlName="scitizenflag"
                        (change)="enablecontrol1()" />
                </div>
                <div class="col-lg-3 mt-2">
                    <label class="form-label" for="exampleInput">Senior Citizen Id Number</label>
                    <input type="text" class="form-control" formControlName="scitizenno" />
                </div>
                <div class="col-lg-1 mt-2">
                    <label class="form-label" for="exampleInput">Select</label><br>
                    <input type="checkbox"  formControlName="phycapflag"
                        (change)="enablecontrol2()" />
                </div>
                <div class="col-lg-3 mt-2">
                    <label class="form-label" for="exampleInput">Physically Handicapped Number</label>
                    <input type="text" class="form-control" formControlName="phycapno" />
                </div>
                <!--         <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">Gender </label> 
                        <select class="select2" id="doccountry"
                        class="form-control" formControlName="gender">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
    
                    </select>
    
    
                    </fieldset>
                </div>
                
    
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold">Date Of Birth </label> <input
                            type="date" class="form-control" id="gender"
                            placeholder="select date" 
                            formControlName="dob">
    
                            <p class="messages text-danger"
                            *ngIf="registerForm.controls.dob.errors">This field is
                            required!</p>
    
                    </fieldset>
                </div>
                <div class="col-lg-4" id="country">
                    <label class="form-label" for="country">Patient type</label>
                    <select class="select2" id="doccountry"
                    class="form-control" formControlName="patienttype">
                    <option value="1">IN_PATIENT</option>
                    <option value="2">OUT_PATIENT</option>
    
                </select>
                </div>
    
                <div class="col-lg-4" id="country">
                    <label class="form-label" for="country">Marital status </label>
                    <select class="select2" id="doccountry"
                    class="form-control" formControlName="maritalstatus">
                    <option value="1">Married</option>
                    <option value="2">Single</option>
    
                </select>
                </div>   -->
            </div>
            <!--.row1end  -->
            <br><br>
            <div class="sub-title">Contact Details</div><br>
            <div class="row">
                <!--.row2start-->
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">Address </label>
                        <input type="text" class="form-control" id="doc_address1" placeholder=""
                            formControlName="address1" />
                        <p class="messages text-danger" *ngIf="registerForm.controls.address1.errors?.required">
                            This Field is Required*</p>
                    </fieldset>
                </div>
                <div class="col-lg-4" id="country">
                    <section>
                        <label class="form-label" for="country">Country</label>
                        <div id="country">
                            <select class="select2" id="doccountry" class="form-control" (change)="viewState()"
                                formControlName="country">
                                <option *ngFor="let item of countries; let i = index" value={{item[0]}}>{{item[1]}}
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4" id="state">
                    <section class="form-group">
                        <label class="form-label" for="state">State</label>
                        <div id="state">
                            <select class="select2" id="docstate" class="form-control" (change)="viewCity()"
                                formControlName="state" >
                                <option *ngFor="let item of states; let i = index" value={{item[0]}}>{{item[2]}}
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4" id="state">
                    <section class="form-group">
                        <label class="form-label" for="state">City</label>
                        <div id="state">
                            <select class="select2" id="docstate" class="form-control" formControlName="city" >
                                <option *ngFor="let item of cities; let i = index" value={{item[0]}}>{{item[2]}}
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">ZIP/PIN Code</label>
                        <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" id="docpincode"
                             placeholder="  " formControlName="pincode" />
                    </fieldset>
                </div>

                <div class="col-lg-4">
                        <fieldset class="form-group">
                            <label class="form-label" for="exampleInput">Mobile Number</label>
                             <input type="number" class="form-control" id="docmobile" placeholder=" " formControlName="mobile"/>
    
                             <p class="messages text-danger" *ngIf="registerForm.controls.mobile.errors?.required">
                                    This Field is Required*</p>
                        </fieldset>
                    </div>

                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput">Phone
                            Number</label> <input type="number" class="form-control" id="docphonenumber"
                            placeholder="  " formControlName="phone" />
                    </fieldset>
                </div>
               
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInputEmail1">Email Id
                        </label> <input type="text" class="form-control" id="docemail" placeholder="  "
                            formControlName="email" />
                        <p class="messages text-danger" *ngIf="registerForm.controls.email.errors?.pattern">
                            Enter Correct Mail!
                        </p>
                    </fieldset>
                </div>
            </div>
            <!--.row2 end-->
            <div class="row">
                <!--.row4start-->
                <ng2-toasty [position]="position"></ng2-toasty>
                <div class="col-lg-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-round"
                            [disabled]="!registerForm.valid">Submit</button>
                    </div>
                </div>
                <!--    <div class="col-lg-4" style="text-align: center">
                    <div class="form-group">
        
                        <a [routerLink]="['/Customer/custView']"
                            class="btn btn-primary">Customer View </a>
        
                    </div>
                </div>  -->
            </div>
            <!--.row4 end-->
        </div>
        <!-- box-typical-->
    </form>
</app-card>