<style>
#swidth{
    width:310px;
}
</style>

<app-card>      
    <div class="sub-title">Edit Details
        <i class="fa fa-edit ficon"></i></div> <br><br>

           <div class="container">

            <form [formGroup]="deliveryForm"  (ngSubmit)="onSubmit()">     

             <div class="card">
                <div class="card-body bg-light">

                    <div class="form-group row">                          
                           
                            <div class="col-sm-3">
                             <label for="email" class="form-label">Sales Delivery Challan</label>
                                <input type="text"  class="form-control"  formControlName="dcno" disabled>   
                            </div>
                            
                            <div class="col-sm-3">
                                    <label for="email" class="form-label">Location Type</label>
                                    <select class="select2"    class="form-control" 
                                    (change)="getFirm()"   formControlName="tolocname"  > 
                                    <option  value="opt1" disabled>----SELECT LOCTYPE----</option> 
                                        <option  value="1" >Shop</option>

                                        <option  value="2" >Warehouse</option>

                                        <option  value="3" >Hospital  </option>
                                            
                                    </select>
                            </div>

                            <div class="col-sm-3">
                                    <label for="email" class="form-label">Delivery Date</label>

                              <input type="date"  class="form-control inputline"  placeholder="Enter the date" required="true" formControlName="deliverydate" >
                            </div>
                           
                            <div class="col-sm-3">
                                    <label for="password" class="form-label">Location Name</label>
                                    <select   id="tolocrefid1" class="form-control"
                                    formControlName="tolocrefid" >
                                    <option  value="opt1" disabled>----SELECT LOCNAME----</option> 
                                       <option *ngFor="let item of firms; let i = index" value={{item[0]}}>{{item[1]}}</option>
                                   </select>
                            </div>

                     </div>

                  

                     <!-- <div class="form-group row">                                                  
                                <label for="stock"  class="col-sm-2 col-form-label">STOCK TRANSFER#</label>
                                 <div class="col-sm-4">
                                <ng-select [options]="distributors" placeholder="SERARCH STOCK NO" (change)="getStockNumber()" (click)="getStockNumber()" (input)="getStock($event.target.value)"
                                  formControlName="stockno">
                                </ng-select>
                               </div>                                                    
                                    <label for="sales" class="col-sm-2 col-form-label">SALES INVOICE#</label>
                                    <div class="col-sm-4">
                                        <ng-select [options]="salesinvoice" placeholder="SERARCH STOCK NO" 
                                          formControlName="salesno">
                                        </ng-select>
                                    </div>
                   </div> -->

                </div>
            </div>
                        

                   <div class="flow" formArrayName="brandDetails">
                    <table  class="table styletab">
                        <thead class="stylehead">

                            <tr>
                            
                            
                                <!-- <th> <input type="checkbox" class="checkAll chkboxs" name="checkAll" /> </th> -->


                                <th>S.No</th>
                                <th>Prod Code</th>
                                <th>Prod Name</th>
                                <th>Batch No</th>                                                           
                                <!-- <th>BoxQty</th>
                                <th>Str.Qty</th>-->
                                <th>Tab Qty</th>      

                            </tr>
                        </thead>
                        <tbody class="stylebody">
                            <tr *ngFor="let brand of deliveryForm.controls.brandDetails.controls; let i = index" [formGroupName]="i">
                              
                              
                              
                                <!-- <td> <input type="checkbox" name="check" class="chkbox" /> </td> -->
                                   
                                   
                                   
                                   
                                    <td id="width2">{{i+1}}</td>
                                    <td>
                                        <input type="text" formControlName="drugproductrefid" id="width4"  readonly>
                                    </td>
                                    <td>
                                        <input type="text" formControlName="productname" id="swidth" style="text-align:left"  readonly>
                                    </td>   
                                    <td>
                                        <input type="text" formControlName="batchno" id="width5" style="text-align:left"  readonly>
                                    </td>    
                                    
                                    


                                    <!-- <td>
                                        <input type="text" align="center" formControlName="boxqty" class="tds boxqfocus" (change)="getSum()" (click)="getSum()">
                                        <div *ngIf="brand.hasError('pattern', 'boxqty')" style="color:red;">Invalid Charcters..</div>
                                    </td>
                                    <td>
                                        <input type="text" formControlName="stripqty" class="tds stripqfocus" (change)="getSum()" (click)="getSum()">
                                        <div *ngIf="brand.hasError('pattern', 'stripqty')" style="color:red;">Invalid Charcters..</div>
                                    </td>
                                   -->
                                  
                                  
                                  
                                    <td>
                                        <input type="text" formControlName="tabqty" class="tabqfocus" (change)="getSum()" (click)="getSum()" autofocus>
                                        <div *ngIf="brand.hasError('pattern', 'tabqty')" style="color:red;">Invalid Charcters..</div>
                                    </td>                                                                                                                                                                                                                                                                
                            </tr>
                         
                        
                            <tr>
                             

                                    <td>
                                        <input type="text" id="width2" >
                                    </td>                                                                 
                                    <td>
                                        <input type="text" >
                                    </td>
                                    <td>
                                        <input type="text" id="width5">
                                    </td>
                                    <td>
                                        <input type="text" >
                                    </td>                      
                                  
                                    <td>
                                        <input type="text" >
                                    </td>                                                                                                    
                            </tr>
                          
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <br>
                <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Total produtcs</label>
                            <input type="text" class="form-control" placeholder="Products" formControlName="totalproduct"
                                disabled>
                        </div>
                        
                        <!-- <div class="col-lg-2">
                            <label class="col-form-label labal">Total Quantity</label>
                            <input type="text" class="form-control" placeholder="Quantity" formControlName="totalqty" style="width:150px;height:30px"
                                disabled>
                        </div>   -->
                        
                        
                        <!-- <div class="col-lg-2">
                            <label class="col-form-label labal">Box Quantity</label>
                            <input type="text" class="form-control" placeholder="Box Quantity" formControlName="totalboxqty" style="width:150px;height:30px"
                                disabled>
            
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label labal">Strip Quantity</label>
                            <input type="text" class="form-control" placeholder="Strip Quantity" formControlName="totalstripqty" style="width:150px;height:30px"
                                disabled>
                        </div> -->



                        <div class="col-lg-3">
                            <label class="col-form-label labal"> Total Tablet Quantity</label>
                            <input type="text" class="form-control" placeholder="Table Quantity" formControlName="totaltabqty"
                                disabled>
            
                        </div>
                    </div>

                    <div class="col-lg-3 ml-4">
                            <button type="submit"  class="btn btn-round">Save</button>
                    </div>
              </form>
              </div>
            </app-card>  
            <ng2-toasty [position]="position"></ng2-toasty>
                
    