<h3>Warehouse Registration</h3>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Warehouse Registration'">
      <form [formGroup]="mywarehouse" (ngSubmit)="onSubmit()">
        <!-- [formGroup]="mywarehouse" -->
        <div class="form-group row">

          <div class="col-sm-4">
            <h6>Warehouse Name</h6>
            <input type="text" class="form-control" placeholder="Enter Warehouse Name" id="warehousename"
              formControlName="warehousename" [(ngModel)]="warehouse.warehousename" name="warehousename">
            <div class="messages text-danger" *ngIf="mywarehouse.controls.warehousename.errors?.required">Warehouse Name
              can't Be Blank</div>
          </div>
          <div class="col-sm-4">
            <h6>Warehouse Code</h6>
            <input type="text" class="form-control" placeholder="Enter the Warehouse Number" id="warehousecode"
              formControlName="warehousecode" [(ngModel)]="warehouse.warehousecode" name="warehousecode">

          </div>
          <div class="col-sm-4">
            <h6>Owner Name</h6>
            <input type="text" class="form-control" placeholder="Enter Owner Name" id="owner_name"
              formControlName="owner_name" [(ngModel)]="warehouse.owner_name" name="owner_name">
          </div>
        </div>
        <div class="form-group row">

          <div class="col-sm-4">
            <h6>Address1</h6>
            <input type="text" class="form-control" placeholder="Enter Address" id="address1" formControlName="address1"
              [(ngModel)]="warehouse.address1" name="address1">
            <div class="messages text-danger" *ngIf="mywarehouse.controls.address1.errors?.required">Address can't Be
              Blank</div>
          </div>
          <div class="col-sm-4">
            <h6>Address 2</h6>
            <input type="text" class="form-control" placeholder="Enter Your Address 2" id="address2" required="true"
              formControlName="address2" [(ngModel)]="warehouse.address2" name="address2">

          </div>
          <div class="col-sm-4">
            <h6>Address 3</h6>
            <input type="text" class="form-control" placeholder="Enter Your Address 3" id="address3"
              formControlName="address3" [(ngModel)]="warehouse.address3" name="address3" />
          </div>
        </div>
        <div class="form-group row">

          <div class="col-sm-4">
            <h6>Country</h6>
            <select type="text" class="form-control" placeholder="Enter Your Country" id="country"
              formControlName="country" (change)="getstate()" (change)="getCountry()" [(ngModel)]="warehouse.country"
              name="country">
              <option *ngFor="let coun of countryw" value={{coun[0]}}>
                {{coun[1]}}
              </option>
            </select>

          </div>
          <div class="col-sm-4">
            <h6>State</h6>
            <select name="select" class="form-control" placeholder="Select Country" id="state" formControlName="state"
              [(ngModel)]="warehouse.state" name="state" (change)="getcityw()">

              <option *ngFor="let coun of statew" value={{coun[0]}}>
                {{coun[2]}}
              </option>
            </select>
          </div>
          <div class="col-sm-4">
            <h6>City</h6>
            <!--            <ng-select [ngClass]="'ng-select'"  [multiple]="true" placeholder="Select State" id="state" formControlName="state" -->
            <!--            [(ngModel)]="hospital.state" name="state"> </ng-select> -->
            <select name="select" class="form-control" id="city" placeholder="Enter City " formControlName="city"
              [(ngModel)]="warehouse.city" name="city">

              <option *ngFor="let coun of cityw" value={{coun[0]}}>
                {{coun[2]}}

              </option>
            </select>

          </div>
        </div>
        <div class="form-group row">

          <div class="col-sm-4">
            <h6>Pincode</h6>

            <input name="select" class="form-control form-control-default" id="pincode" formControlName="pincode"
              [(ngModel)]="warehouse.pincode" name="pincode">

          </div>

          <div class="col-sm-4">
            <h6>Contact No1</h6>
            <input type="text" class="form-control phone" placeholder="____-____" specialCharacters="false"
              mask="0000-0000" id="contact_no1" formControlName="contact_no1" [(ngModel)]="warehouse.contact_no1"
              name="contact_no1">
            <div class="messages text-danger" *ngIf="mywarehouse.controls.contact_no1.errors?.required">Contact Number
              can't Be Blank</div>
          </div>
          <div class="col-sm-4">
            <h6>Contact No2</h6>
            <input type="text" class="form-control phone" placeholder="___-___" specialCharacters="false"
              mask="0000-0000" id="contact_no2" formControlName="contact_no2" [(ngModel)]="warehouse.contact_no2"
              name="contact_no2">
          </div>
        </div>
        <div class="form-group row">

          <div class="col-sm-4">
            <h6>Mobile Number</h6>
            <input type="text" class="form-control" placeholder="Enter Mobile Number" id="mobile_no"
              formControlName="mobile_no" [(ngModel)]="warehouse.mobile_no" name="mobile_no">

          </div>
          <div class="col-sm-4">
            <h6>Email</h6>
            <input type="text" class="form-control" placeholder="Enter Your Email" id="email_id"
              formControlName="email_id" [(ngModel)]="warehouse.email_id" name="email_id">
            <span class="messages text-danger" *ngIf="mywarehouse.hasError('email_id', 'email')">
              Please enter the correct email, this email not valid.
            </span>
          </div>
          <div class="col-sm-4">
            <h6>Dl Number</h6>
            <input type="text" class="form-control" placeholder="Enter Your dlno" id="dlno" formControlName="dlno"
              [(ngModel)]="warehouse.dlno" name="dlno">

          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <h6>license Holder</h6>
            <input type="text" class="form-control" placeholder="Enter licenseholder" id="license_holder"
              formControlName="license_holder" [(ngModel)]="warehouse.license_holder" name="license_holder">

          </div>
          <div class="col-sm-4">
            <h6>Tin No</h6>
            <input type="text" class="form-control" placeholder="Enter tinno" id="tinno" formControlName="tinno"
              [(ngModel)]="warehouse.tinno" name="tinno">

          </div>

          <div class="col-sm-4">
              <h6>Cst</h6>
              <input type="text" class="form-control" placeholder="Enter Cst" id="cst" formControlName="cst"
                [(ngModel)]="warehouse.cst" name="cst">
  
            </div>
          <!-- <div class="col-sm-4">
            <h6>Pan Number</h6>
            <input type="text" class="form-control" placeholder="Enter panno" id="panno" formControlName="panno"
              [(ngModel)]="warehouse.panno" name="panno">

          </div> -->
        </div>
        <div class="form-group row">
          
         

          <!-- <div class="col-sm-4">
            <h6>Gst</h6>
            <input type="text" class="form-control" placeholder="Enter Gst" id="gst" formControlName="gst"
              [(ngModel)]="warehouse.gst" name="gst">

          </div> -->

          <div class="col-sm-4">
            <h6>ColdStorage</h6>
            <input type="text" class="form-control" placeholder="Enter Your Coldstore" id="coldstorage"
              formControlName="coldstorage" [(ngModel)]="warehouse.coldstorage" name="coldstorage">

          </div>
        </div>

        <div class="col-sm-6">
          <button class="btn btn-success"><i class="icofont icofont-check-circled"></i>Submit</button>
        </div>
      </form>
    </app-card>
  </div>
</div>