<style>

#swidth{
    width:310px;
}

</style>

<app-card>
        <div class="sub-title">Sales Order Details
            <i class="fa fa-bar-chart ficon"></i>
        </div><br>
    

    <form [formGroup]="salesorderlead" (ngSubmit)="onSubmit()" class="mx-2">
           
            <div class="form-group row">
             
      
                <div class="col-lg-4">
                    <label class="form-label">Customer Name</label>
                    <select name="select" class="form-control inputline" formControlName="patientid">
                    <option *ngFor="let cust of patientlist" value={{cust[0]}}>{{cust[1]}}</option>
                </select>
                 
                </div>
                <div class="col-lg-4">
                    <label class="form-label">Contact Number</label>
                    <input type="text" class="form-control inputline" placeholder="Contact Number" formControlName="contactno">
                  </div>

                <div class="col-lg-4">
                    <label class="form-label">SalesOrder Type</label>
                    <select name="select" class="form-control inputline" formControlName="sotype">
                        <option *ngFor="let so of sotypes" value={{so[0]}}>{{so[1]}}</option>
                    </select>

                </div>
               
            </div>

            <div class="form-group row">

                <div class="col-lg-4">
                    <label class="form-label">Delivery Type</label>
                    <input type="text" class="form-control inputline" placeholder="Delivery Type" formControlName="deliverytype">
                </div>

                    <div class="col-lg-4">
                            <label class="form-label">SalesOrder lead no </label>
                            <input type="text" class="form-control inputline" placeholder="SalesOrder lead no " formControlName="soonlineno">
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">SalesOrder Date </label>
                            <input type="date" class="form-control inputline" formControlName="orderdate">
                        </div>
            </div>
        
            <div class="form-group row">
            <div class="col-lg-4">
                <fieldset class="form-group">
                    <label class="form-label">Product Name</label>
                    <ng-select [options]="characters" placeholder="Search Drug Name" (input)="getProduct($event.target.value)" formControlName = "productid" >
                    </ng-select>
                </fieldset>
            </div>
            <div class="col-lg-4">
                <label class="form-label">Quantity</label>
                <input type="text" class="form-control inputline" (change)="getProvalues()" placeholder="Quantity" formControlName="quantity">

            </div>
          </div><br>
        

        <div class="flow" style="overflow:auto;" formArrayName="sodetails">
            <table rz-table class="table styletab">
                <thead class="stylehead">
                    <tr>
                        
                        <th>S.No</th>
                        <th>Prod Code</th>
                        <th>Prod Name</th>
                        <th>Dosage</th>
                        <th>Formulation</th>
                        <th>Qty</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody class="stylebody">
                    <tr *ngFor="let val of salesorderlead.controls.sodetails.controls; let i = index" [formGroupName]="i">
                      
                            <td id="width2">{{i+1}}</td>
                            <td>
                                <input type="text" formControlName="drugproductid"  readonly>
                            </td>
                            <td>
                                <input type="text" formControlName="brandname" id="swidth" style="text-align:left" readonly>
                            </td>
                            <td>
                                <input type="text" formControlName="dosagevalue" id="width5" readonly>
                            </td>
                            <td>
                                <input type="text" formControlName="formulationname" id="width5" style="text-align:left" readonly>
                            </td>
                            <td>
                                <input type="text" formControlName="totalqty" id="width4" >
                            </td>
                            <td>
                                <input type="button" class="btn viewbtn" (click)="removeRow(i)" value="Remove" id="width3">
                            </td>

                            
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="width2" >
                        </td>
                        <td>
                            <input type="text" >
                        </td>
                        <td>
                            <input type="text" id="width4">
                        </td>
                        <td>
                            <input type="text" >
                        </td>
                        <td>
                            <input type="text" id="width4">
                        </td>
                        <td>
                            <input type="text" id="width3" >
                        </td>
                        <td>
                            <input type="text" id="width3" >
                        </td>
                    </tr>
                  
                </tbody>
              
            </table>
        </div>
    <br><br>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <button type="submit" class="btn btn-round">Save</button>
            </div>
            <div class="col-lg-3">
                    <button class="btn btn-round" [routerLink]="['/SalesOrderLead/salesorderlead']">
                        Go Back</button>
                </div>
        </div>
        <app-modal-animation [modalID]="'effect-1'" [modalClass]="'md-effect-1'">
            <div class="modal-header" style="font-size:27px">Add Stock
            </div><br>
        
            <div class="mx-5">
                    <fieldset class="form-group">
                        <label class="form-label">Product Name mac{{macaddress}}</label>
                        <select name="select" class="form-control" (click)="stockchecking()" formControlName="productid">
                            <option value="0" selected disabled>---Select Type---</option>
                            <option *ngFor="let pro of products" value={{pro[0]}}>{{pro[1]}}</option>
                        </select>
                    </fieldset>

            </div>

            <div formArrayName="stockdetails" class="flow mx-2" style="padding:0px">      
                <table class="table styletab">
                    <thead class="stylehead">
                        <tr>
                            <th>
                            <input type="checkbox" class="" style="height:1.3em;width:1.4em" />    
                            </th>
                            <th>Shop Name</th>
                            <th>
                                Avail Qty
                            </th>
                            <th>
                                Ageing
                            </th>
                            <th>
                                Req Qty
                            </th>
                        </tr>
                    </thead>
                    <tbody class="stylebody">
                        <tr *ngFor="let val of salesorderlead.controls.stockdetails.controls; let i = index" [formGroupName]="i"> 
                            <td>
                                <input type="checkbox" class="tabcheck" formControlName="checkbox" id="width1" />
                            </td>
                            <td>
                                <input type="text" formControlName="shopname"   />
                            </td>
                            <td>
                                <input type="text" formControlName="qty" id="width2" />
                            </td>
                            <td>
                                <input type="text" formControlName="ageingtime" id="width3" />
                            </td>
                            <td>
                                <input type="text" formControlName="reqqty" id="width3" />
                            </td>
                          
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        
          
        <div class="modal-footer">
        <label id="enter" class="btn modbtn" (click)="savestockcheck()">Save</label>				
        </div>
    
            <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn">
                <i class="icofont icofont-ui-close" style="font-size:12px"></i>
            </button>
        </app-modal-animation>
    </form>
</app-card>
<ng2-toasty [position]="position"></ng2-toasty>