<style>
    .nodata {
      text-align: center;
      width: 100%;
      padding: 10px;
      font-size: 25px;
      color: rgb(245, 50, 50);
      font-family: Verdana, Geneva, sans-serif;
    }
  
    .action {
      font-size: 15px;
      color: green;
    }
  
    .action1 {
      font-size: 15px;
      color: red;
    }
  
    
  </style>
  <app-card>
    <div align="right">
      <button class="btn btn-round" (click)="addOrder()">Add Sales Order</button>
    </div>
    <br>
    <div class="dt-responsive">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
          <div>
            <label class="label-control">Show
              <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                <option [ngValue]="1">1</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select>
              Entries
            </label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="form-inline justify-content-end">
            <strong class="searchstyle">Search:</strong>
              <input type="search" [(ngModel)]="filterQuery" class="form-control w-50" placeholder="Search OrderNo">
          
          </div>
        </div>
      </div><br>
      <div style="overflow: auto">
        <table class="table table-striped table-bordered table-responsive full-data-table " [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
          [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="sno">S.No</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="pp">Sales Order Number</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="pp">Customer Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="pp">Order Date</mfDefaultSorter>
              </th>
              <!-- <th>
                <mfDefaultSorter by="pp">Online Order Number</mfDefaultSorter>
              </th> 
              <th>
                <mfDefaultSorter by="pp">Delivery Type</mfDefaultSorter>
              </th> 
              <th>
                <mfDefaultSorter by="pp">Online Order Status</mfDefaultSorter>
              </th> -->
              <th>
                <mfDefaultSorter by="pp">No of Products</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="pp">Order Type</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="pp">Action</mfDefaultSorter>
              </th>
            </tr>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="(data | dataFilter : filterQuery) == 0">
              <td></td>
              <td></td>
              <td></td>
              <td class="nodata">No matching Records found....</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let val of mf.data;let i=index">
              <td>{{i+1}}</td>
              <td>{{val[0]}}</td>
              <td>{{val[1]}}</td>
              <td>{{val[2]}}</td>
              <td>{{val[4]}}</td>
              <!-- <td>{{val[4]}}</td> -->
              <td>{{val[9]}}</td>
              
              <td>
                <div ngbDropdown class="dropdown-secondary dropdown">
                  <button style="color:rgb(11, 12, 12);" ngbDropdownToggle class="btn btn-mini dropdown-toggle waves-light b-none txt-muted dropDownbutton"
                    type="button" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icofont icofont-navigation-menu"></i>
                  </button>



                  
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown10" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <a class="dropdown-item waves-light waves-effect" href="javascript:;" [routerLink]="['/SalesOrder/salesorderrecord',val[5]]"
                      skipLocationChange>
                      <i class="icofont icofont-checked m-r-10" title="View SalesOrder">&nbsp;
                        <span class="tdspan">Product Details</span>
                      </i>
                    </a>
                    <a class="dropdown-item waves-light waves-effect" href="javascript:;" [routerLink]="['/SalesInvoice/SalesInvoice']">
                    <i class="icofont icofont-link-alt" title="View SalesOrder">&nbsp;
                      <span class="tdspan">Convert to SalesInvoice</span>
                    </i>
                  </a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;" [routerLink]="['/Trackstatus/Tracking',val[5]]">
                    <i class="icofont icofont-map-pins" title="View SalesOrder">&nbsp;
                      <span class="tdspan">Status</span>
                    </i>
                  </a>
                    <a class="dropdown-item waves-light waves-effect" href="javascript:;" [routerLink]="['/SalesOrder/editSalesorder',val[5]]"
                      skipLocationChange>
                      <i class="icofont icofont-ui-edit action" title="Edit SalesOrder">&nbsp;
                        <span class="tdspan">Edit</span>
                      </i>
                    </a>
                    <a class="dropdown-item waves-light waves-effect" href="javascript:;" (click)="deleteSalesOrder(val[5])">
                      <i class="icofont icofont-delete-alt action1" title="Delete">&nbsp;
                        <span class="tdspan">Delete</span>
                      </i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="9">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </app-card>