<app-card>
<div class="sub-title">Barcode Details
	<i class="fa fa-barcode ficon"></i>
</div><br>

	<form [formGroup]="barcodeForm" >



		<div class="form-group row">

			<div class="col-sm-12 col-xl-4">
				<fieldset class="form-group">
				  <label class="form-label">Product Name</label>
				  <ng-select [options]="characters" placeholder="Search Product" (change)="getCode()" (click)="getCode()" (input)="getProduct($event.target.value)"
					formControlName="product" style="font-family:Montserrat;font-size:14px">
				  </ng-select>
				</fieldset>
			  </div>

			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label">Product Code</label>
					<input type="text"  disabled class="form-control" placeholder="shown barcode" minlength="5" formControlName="pcode" />

				</fieldset>
			</div>

			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">Manufacture Barcode</label>
					<input type="text"  class="form-control" placeholder=" " minlength="15" formControlName="mfbarcode" />
				</fieldset>
			</div>

		</div><br>

		

		<div class="form-group row">
			<div class="col-lg-4">
				<fieldset class="form-group">
					<label class="form-label semibold">Supplier Barcode</label>
					<input type="text" class="form-control" placeholder="Enter the Barcode" inlength="5" value = "{{this.value}}"  formControlName="spcode" disabled/>
				</fieldset>
			</div>
			<div class="col-lg-4 mt-4">
				
					<button class="btn btn-round" (click)="generatebarcode()">Auto Generate</button>
			
			</div>
			 <div class="col-lg-4">
				<!-- <h1 class="settitle">
					{{title}}
				  </h1>
				  <ngx-barcode [bc-value]="value" [bc-display-value]="true"></ngx-barcode> -->

				  <ngx-barcode *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue" [bc-format]="format" [bc-line-color]="lineColor"
				  [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
				  [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
				  [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>


			</div> 
			
		</div>

		<div class="col-lg-4 ml-3">
			<br>
			<button (click) = "onSubmit()" class="btn btn-round">Save</button>
			&nbsp;
			<!-- <button type="submit" class="btn btn-round ml-2"  [routerLink]="['/AssignBarcode/ViewBarcode']">View</button>   -->
		</div>
	</form>
</app-card>
<ng2-toasty [position]="position"></ng2-toasty>