<style>
  .nodata {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    color: rgb(245, 50, 50);
    font-family: Verdana, Geneva, sans-serif;
  }

  .action {
    font-size: 15px;
    color: green;
  }

  .action1 {
    font-size: 15px;
    color: red;
  }

  .table-striped tr th:nth-child(2){
    text-align:center!important
   }

  .table-striped tr td:last-child{
    text-align:left!important
   }

</style>
<app-card>
  <br>
    <div align="right">
        <button class="btn btn-round" (click)="adduser()">Add User </button>
      </div>
      <br>
  <div class="dt-responsive">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
        <div>
          <label class="label-control">Show
            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
              <option [ngValue]="1">1</option>
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="100">100</option>
            </select>
            Entries
          </label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-inline justify-content-end">
	
					<strong class="searchstyle">Search :</strong>
					<input type="search" [(ngModel)]="filterQuery" class="form-control w-50" placeholder="Search User Name">
				
			</div>
      </div>
    </div><br>
    
    <div style="overflow: auto">
      <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>
             S.No
            </th>
            <th>
             User Name
            </th>
            <th>
              User Type
            </th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(data | dataFilter : filterQuery) == 0">
            <td></td>
            <td class="nodata">No matching Records found....</td>
            <td></td>
          </tr>
          <tr *ngFor="let val of mf.data;let i=index">
            <td>{{i+1}}</td>
            <td>{{val[0]}}</td>
            <td>{{val[1]}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</app-card>
<ng2-toasty [position]="position"></ng2-toasty>