<style>
    .table-responsive {
        max-height: 400px;
        overflow-y: scroll;
    }

    th {

        font-weight: normal;
        text-align: center;
    }
</style>


<app-card [title]='"View Indent Request ST"'>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Indent Request ID</th>
                    <th>Indent Number</th>
                    <th>Indent Date</th>
                    <th>Edit</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pharmacomp;">
                    <td>{{item[0 ] }}</td>
                    <td>{{item[1 ] }}</td>
                    <td>{{item[2 ] }}</td>

                    <td>
                        <a [routerLink]="['/IndentRequest/indentreqEdit',item[0] ]" class="btn btn-primary ">Edit</a>
                    </td>



                </tr>


                <tr *ngIf="(data | dataFilter : filterQuery) == 0">
                    <td></td>
                    <td class="nodata">No matching Records found....</td>
                    <td></td>
                    <td></td>


                </tr>
            </tbody>



            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>



</app-card>