<style>

    #autolist {
        border: 2px solid #b3b3b3;
        border-radius: 5px;
        position: absolute;
        z-index: 21;
        background-color: #ffffff;
        width: 44em;
        max-height: 230px;
        margin-left:-12px;
        overflow-y: scroll;
    }
   
    #autolist li input {
        border: transparent;
        font-family: Montserrat;
        margin-right:4px;
        font-size:16px;
        width:275px;
    }

    #autolist li input:focus {
       background-color:#b3b3b3;
    }

    #autolist .lhead{
        text-align: center;
        background-color: #0073aa;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: bold;
        color: #FFFFFF;
    }

    #autolist .lh1{
        width:275px
    }

    #autolist .lh2{
        width:105px
    }

    #autolist .lh3{
        width:117px
    }

    #autolist .lh4{
        width:85px
    }


    #autolist .lbody{
        font-family: Montserrat;
        font-size:16px;
    }

    #autolist .lb1{
        width:105px
    }

    #autolist .lb2{
        width:117px
    }

    #autolist .lb3{
        width:85px
    }
  
    #autolistnew {
        border: 3px solid #b3b3b3;
        position: absolute;
        z-index: 21;
        background-color: #ffffff;
        width: 12em;
        max-height: 200px;
        overflow-y: scroll;
     
    }

    #autolistnew li input {
        border: transparent;
    }

    #autolistnew li input:focus {
       background-color:#b3b3b3;
    }
   
    .image {
        position: absolute;
        z-index:1;
        top:-85px;
        background-color:white;
        left:-10%;
        height:300px;
        width:300px;
    }
  
    .borderform {
        border: 2px solid #b3b3b3;
        border-radius: 5px;
        padding:0.8em;
    }
  
   
  
    .form-control:disabled,
    .form-control[readonly] {
        background-color: transparent;
        font-weight:bold;
        font-size:18px;
    }

    .paycheck{
        height:1.3em;
        width:1.4em;
    }

    .refill:disabled{
       border-color:brown;
    }

    @media (max-width: 500px) {

        .image {
        top:-35px;
        left:20%;
        height:240px;
        width:250px;
    }

        #autolist {
        width: 27.3em;
        margin-left:-21px;
        max-height: 210px;
        overflow-y: scroll;
    }

    #autolist .lhead{
      
      font-size: 14px;
    
  }

        #autolist .lh1{
        width:150px
    }

    #autolist .lh2{
        width:75px
    }

    #autolist .lh3{
        width:90px
    }

    #autolist .lh4{
        width:50px
    }

    #autolist .lbody{
        font-family: Montserrat;
        font-size:14px;
    }

    #autolist li input {
        font-size:14px;
        width:150px;
    }
   
    #autolist .lb1{
        width:75px;
    }

    #autolist .lb2{
        width:90px
    }

    #autolist .lb3{
        width:50px
    }
  

 }
   
</style>

<app-card>
    <div class="sub-title">Sales Invoice Details
        <i class="ti-receipt ficon"></i>
    </div><br>


    <form [formGroup]="registerForm">
        <div class="box-typical box-typical-padding">
            <div class="borderform">
                <!-- splitcolumnbefore1   start-->
                <!-- splitcolumn   start-->

                <div class="row topadding">
                    <div class="col-lg-4">
                        <label class="form-label semibold" for="exampleInput">Invoice No
                        </label>

                        <input type="text" class="form-control" formControlName="custinvoiceno" />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label semibold"> Invoice date
                        </label>

                        <input type="date" class="form-control" formControlName="date" />
                    </div>
                    <div class="col-lg-4">
                        <!-- subcolumn  start-->
                        <label class="form-label semibold" for="exampleInput"> Barcode
                        </label>

                        <input type="text" class="form-control barcode" (keydown)="viewBarcodeProd($event)"
                            formControlName="barcode" />
                    </div>


                </div>
                <div class="row topadding mt-3">

                    <!-- <div class="col-lg-3" *ngIf="registerForm.controls.sorderflag.value==0">
                                        <label class="form-label semibold" for="exampleInput">Customer Name </label>
                                    <select class="form-control" (change)="viewCustOutstandingTot()" (change)="getcustemail()" formControlName="custdummyid">
                                        <option *ngFor="let item of   customers; let i = index" value={{i}}>{{item[1]}}
                                        </option>
                                    </select>
                                    <p class="messages text-danger marginzero" *ngIf="registerForm.controls.customerrefid.errors?.required">Select Customer
                                    </p>
                                </div> -->
                    <div class="col-sm-3" *ngIf="registerForm.controls.sorderflag.value==0">
                        <label class="form-label">Customer Name<span style="color:red">*</span></label>
                        <ng-select [options]="customers1" formControlName="custdummyid"
                            (change)="viewCustOutstandingTot();getcustemail()" (click)="getcustemail();viewCustOutstandingTot()"
                            placeholder="Search By Customer Name" (input)="searchCustomer($event.target.value)">
                        </ng-select>
                      
                    </div>

                    <!-- <div class="col-sm-3" *ngIf="registerForm.controls.sorderflag.value==1">
                        <label class="form-label">Customer Name</label>
                        <ng-select [options]="customers" (change)="viewCustOutstandingTot()" (change)="getcustemail()" formControlName="customerrefid"
                            placeholder="Search By Customer Name" (input)="searchCustomer($event.target.value)" disabled>
                        </ng-select>
                    </div> -->
                    <div class="col-lg-3" *ngIf="registerForm.controls.sorderflag.value==1">
                        <label class="form-label semibold" for="exampleInput">Customer Name </label>
                        <select class="form-control" (change)="viewCustOutstandingTot()" (change)="getcustemail()"
                            formControlName="customerrefid" disabled>
                            <option *ngFor="let item of   customers; let i = index" value={{item[0]}}>
                                {{item[1]}}</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <label class="btn btn-round mt-4" (click)="clickopen(content1,2)">Tax Excempt</label>
                    </div>


                    <div class="col-lg-3">
                        <label class="form-label semibold" for="exampleInput">Doctor Name </label>

                        <select class="select2" class="form-control" formControlName="doctorrefid">
                            <option *ngFor="let item of   doctors; let i = index" value={{i}}>{{item[1]}}
                            </option>
                        </select>
                    </div>
             
                        <div class="col-lg-4">
                            <label class="form-label semibold" for="exampleInput"> Prescription Upload
                            </label>
                     
                            <div class="form-inline">
                            <input type="file" (change)="fileChange($event)" formControlName="presc35"
                             class="form-control" id="imagefile" />
                            <span class="fa fa-eye mt-2" style="cursor: pointer" (click)="viewsPresc()" *ngIf="showeye"></span>
                            <span class="fa fa-eye-slash mt-2" style="cursor: pointer" (click)="ClosePresc()" *ngIf="showeyeslash"></span>
                            <span class="fa fa-trash mt-2 ml-2" style="cursor: pointer" (click)="reset()"></span>
                            </div>
                            <!-- <span style="color:red;" *ngIf="message">{{message}}</span> -->

                            <div *ngIf="showimage">
                                <img [src]="images" class="image" />         
                            </div>
                     </div>
                  
                   
                </div>

                <!-- splitcolumn  end-->
            </div><br>

            <div class="borderform">

                <div class="row topadding">
                    <div class="col-md-6">
                        <label class="form-label semibold" for="exampleInput"> Drug Name
                        </label>

                        <input type="text" class="form-control" id="autoname" (focus)="autofocusin()"
                            (focusout)="autofocusout()" autocomplete="off" (keydown)="autokeyselect($event,0+1)"
                            formControlName="autonamenew" />
                        <div id="autolist">
                            <ul>
                                <li *ngIf="autodata.length>0">
                                    <label class="lhead lh1"> Drug name </label>
                                    <label class="lhead lh2"> Batch No </label>
                                    <label class="lhead lh3"> Expiry Date</label>
                                    <label class="lhead lh4">Qty </label>
                                </li>
                                <li *ngFor="let address of    autodata; let i=index" [formGroupName]="i"
                                    (keydown)="autokeyselect($event,i+2)">
                                    <input value={{address[0]}} (click)="mobselect($event,i+2)" readonly />
                                    <label class="lbody lb1"> {{address[6]}} </label>
                                    <label class="lbody lb2"> {{address[7]}} </label>
                                    <label class="lbody lb3">{{address[3]}} </label>
                                </li>
                            </ul>
                        </div>
                        <div class="boxname">
                        </div>

                        <div class="boxname">
                            <div id="autolistnew">
                                <ul>
                                    <li (keydown)="viewStock($event, 1)" (click)="mobview($event, 1)">
                                        <input type="text" readonly value='Box' /> </li>
                                    <li (keydown)="viewStock( $event ,2)" (click)="mobview($event, 2)">
                                        <input type="text" readonly value='Strip' /> </li>
                                    <li (keydown)="viewStock($event ,3)" (click)="mobview($event, 3)">
                                        <input type="text" readonly value='Tab' /> </li>
                                </ul>
                            </div>
                        </div>

                    </div>


                    <!-- <div class="col-md-5 ">
                                <label class="form-label semibold" for="exampleInput"> Generic Name
                                </label>
                          
                                <input type="text" class="form-control" id="autoname1" (focus)="autofocusin1()" (focusout)="autofocusout1()" autocomplete="off"
                                    (keydown)="autokeyselect1($event,0+1)" formControlName="autonamenew1" />
                                <div id="autolist1">
                                    <ul>
                                        <li *ngIf="autodata1.length>0">
                                            <label class="form-label"> Drug name </label>
                                            <label class="form-label" style="width: 10.26em; "> Generic Name </label>
                                            <label class="form-label"> Batch No </label>
                                            <label class="form-label">Qty </label>
                                        </li>
                                        <li *ngFor="let address of    autodata1; let i=index" [formGroupName]="i" (keydown)="autokeyselect1($event,i+2)">
                                            <input readonly value={{address[0]}} class="boldnew" />
                                            <label style="width: 10.26em; "> {{address[6]}} </label>
                                            <label class="form-label"> {{address[7]}} </label>
                                            <label class="form-label">{{address[3]}} </label>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->


                    <div class="col-lg-2">
                        <input type="radio" [value]="1" formControlName="sorderflag" />
                        <label class="form-label ml-1"> Sales Order </label><br>
                        <input type="radio" [value]="0" formControlName="sorderflag" />
                        <label class="form-label ml-1"> Sales Invoice </label>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" (change)="viewSalesOrderProd()" formControlName="sotempflag">
                            <option *ngFor="let item of   sorders; let i = index" value={{i}}>{{item[1]}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <input type="radio" [value]="1" formControlName="freeflag" />
                        <label class="form-label ml-1"> Normal </label> <br>

                        <input type="radio" [value]="0" formControlName="freeflag" />
                        <label class="form-label ml-1"> Free </label>
                    </div>


                    <!--    <div class="col-lg-4 "> </div>
                        <div class="col-lg-1">
                            <input type="radio" class="topmargin"  [value]="1" formControlName="freeflag" />
                        </div>
                        <div class="col-lg-2 ">
                            <label class="form-label semibold"> Normal </label>
                        </div>
                        <div class="col-lg-1">
                            <input type="radio" class="topmargin"    [value]="0" formControlName="freeflag" />
                        </div>
                        <div class="col-lg-2 ">
                            <label class="form-label semibold"  > Free </label>
                        </div>   -->
                </div>
            </div><br>


            <div class="image">
                <i class="fa fa-times ficon" style="cursor:pointer" (click)="ClosePresc()"></i>
                <br><br><br>
                <ngx-image-viewer [src]=images></ngx-image-viewer>
            </div>

            <div class="title1"><u>Invoice Products</u></div><br>
            <div formArrayName="invoice" class="flow">
                <!--. table  start-->

                <table class="table styletab" (keydown)="autocleartable1()">
                    <thead class="stylehead">
                        <tr>
                            <th>Select </th>
                            <th>
                                S. No
                            </th>
                            <th>Prod Code</th>
                            <th>
                                Prod Name
                            </th>
                            <th>
                                Batch No
                            </th>
                            <th>
                                Expiry Date
                            </th>
                            <!--    <th>   B/S/T  </th> -->
                            <th *ngIf="registerForm.controls.sorderflag.value==1">So Qty </th>
                            <th>Unit Qty</th>
                            <th>Unit Free </th>
                            <th>Available Free</th>
                            <th>Dis % </th>
                            <th>Total Qty </th>
                            <th>Total Free </th>
                            <th>
                                Sales Price
                            </th>
                            <th *ngIf="registerForm.controls.vatdispflag.value=='0'">VAT </th>
                            <th *ngIf="registerForm.controls.vatdispflag.value=='1'"> SGST </th>
                            <th *ngIf="registerForm.controls.vatdispflag.value=='1'"> CGST </th>
                            <th *ngIf="registerForm.controls.vatdispflag.value=='1'"> IGST </th>
                            <th>
                                Amount
                            </th>
                            <th *ngIf="registerForm.controls.sorderflag.value==1">Batch Qty </th>
                            <th *ngIf="registerForm.controls.sorderflag.value==1">Remaining Avail Qty </th>
                        </tr>
                    </thead>
                    <tbody class="stylebody">
                        <tr *ngFor="let address of registerForm.controls.invoice.controls; let i=index"
                            [formGroupName]="i">
                            <td>
                                <input type="checkbox" class="tabcheck" id="width1" formControlName="delflag" />
                            </td>
                            <td>
                                <input value={{i+1}} readonly id="width2" />
                            </td>
                            <td>
                                <input formControlName="drugproductid" readonly />
                            </td>
                            <td>
                                <input formControlName="productname" id="width6" style="text-align:left" readonly />
                            </td>
                            <td>
                                <input formControlName="batchname" id="width4" style="text-align:left" readonly />
                            </td>
                            <td>
                                <input formControlName="expirydate" />
                            </td>
                            <!--       <td><input  formControlName="drgtyp"   /></td>     -->
                            <td *ngIf="registerForm.controls.sorderflag.value==1">
                                <input formControlName="soqty" id="width3" readonly />
                            </td>
                            <td>
                                <input formControlName="indvqty" (keydown)="calc($event)" type="number" />
                            </td>
                            <td>
                                <input formControlName="indvfreeqty" id="width3" (keydown)="calc($event)"
                                    type="number" />
                            </td>
                            <td>
                                <input formControlName="availfreeqty" id="width3" readonly />
                            </td>
                            <td>
                                <input formControlName="unitdiscount" id="width2" (keydown)="calc($event)"
                                    type="number" />
                            </td>
                            <td>
                                <input formControlName="totalqty" readonly />
                            </td>
                            <td>
                                <input formControlName="totalfreeqty" id="width3" readonly />
                            </td>
                            <td>
                                <input formControlName="unitprice" (keydown)="calc($event)" style="text-align:right" />
                            </td>
                            <td *ngIf="registerForm.controls.vatdispflag.value=='0'">
                                <input formControlName="unitvat" id="width2" readonly />
                            </td>
                            <td *ngIf="registerForm.controls.vatdispflag.value=='1'">
                                <input formControlName="unitsgst" id="width2" />
                            </td>
                            <td *ngIf="registerForm.controls.vatdispflag.value=='1'">
                                <input formControlName="unitcgst" id="width2" />
                            </td>
                            <td *ngIf="registerForm.controls.vatdispflag.value=='1'">
                                <input formControlName="unitigst" id="width2" />
                            </td>
                            <td>
                                <input formControlName="subtotal" style="text-align:right" readonly />
                            </td>
                            <td *ngIf="registerForm.controls.sorderflag.value==1">
                                <input formControlName="crntstkqty" /></td>
                            <td *ngIf="registerForm.controls.sorderflag.value==1">
                                <input formControlName="soremainqty" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div><br>
            <!-- . table     end-->
            <div class="col-lg-3">
                <button type="button" class="btn btn-round" (click)="remove()"> Remove </button>
            </div><br>



            <!-- splitcolumnbefore1   start-->
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">

                        <div class="col-lg-2">
                            <input type="checkbox" formControlName="cashcheck" class="paycheck"
                                (click)="open($event,content,0)" />
                            <label class="form-label ml-2" for="exampleInput">Cash </label>
                        </div>

                        <div class="col-lg-3">
                            <input type="checkbox" formControlName="creditcheck" class="paycheck"
                                (click)="open($event,content,1)" />
                            <label class="form-label ml-2" for="exampleInput">Credit Card </label>
                        </div>

                        <div class="col-lg-3">
                            <input type="checkbox" formControlName="debitcheck" class="paycheck"
                                (click)="open($event,content,3)" />
                            <label class="form-label ml-2" for="exampleInput">Debit Card </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>

            </div><br>
            <!-- splitcolumnbefore1   end -->


            <div class="borderform">
                <!-- splitcolumnbefore1   start-->
                <div class="row topadding">
                    <!-- splitcolumn2  start-->

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label semibold" for="exampleInput">Total Product
                                </label>

                                <input type="text" class="form-control" formControlName="totalitems" readonly />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label semibold" for="exampleInput">Taxable Amt
                                </label>

                                <input type="text" class="form-control" formControlName="taxableamt" readonly />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label semibold" for="exampleInput">Total Tax Amt
                                </label>

                                <input type="text" class="form-control" formControlName="totaltaxamt" readonly />
                            </div>
                        </div><br>


                        <!-- subcolumn  start-->
                        <div class="row">
                            <!--     <div class="col-md-5">
                            <label class="form-label semibold" for="exampleInput">Cust Discount
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" (change)="setDiscAmt()" class="form-control" formControlName="custdiscamt"  readonly/>
                        </div>  -->
                            <div class="col-md-4">
                                <label class="form-label semibold" for="exampleInput">Total Discount Amt
                                </label>

                                <input type="text" class="form-control" formControlName="totaldiscount" readonly />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label semibold" for="exampleInput">Sub Total
                                </label>

                                <input type="text" class="form-control" formControlName="totalamount" readonly />
                            </div>

                            <div class="col-md-4">
                                <label class="form-label semibold" for="exampleInput"> Paid Amt
                                </label>

                                <input type="text" class="form-control" formControlName="paidamt" readonly />
                            </div><br>
                            <div class="col-md-4 mt-4">
                                <label class="form-label semibold" for="exampleInput"> Ref No
                                </label>

                                <input type="text" class="form-control" formControlName="ptrefno" />
                            </div>
                        </div>
                    </div>
                    <!--Col-lg-8 closed-->


                    <div class="col-lg-4" style=" border-left: 2px solid #b3b3b3;">
                        <br><br><br>
                        <!-- subcolumn  start-->
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label semibold" for="exampleInput"
                                    style="font-size: 1.6em; ">Previous Balance : </label>
                                <label class="form-label semibold" for="exampleInput"
                                    style="font-size: 2em; ">{{registerForm.controls.outstandingamt.value}} </label>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label semibold" for="exampleInput" style="font-size: 2em; ">Grand
                                    Total: </label>
                                <label class="form-label semibold" for="exampleInput"
                                    style="font-size: 2em; ">{{registerForm.controls.grandtotal.value}} </label>
                                <p class="messages text-danger" *ngIf="registerForm.controls.grandtotal.errors?.min">
                                    Total Zero
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- col-lg-4  end-->
                </div>
                <!-- splitcolumn  end-->
            </div>
            <!-- splitcolumnbefore1   end-->

        </div><br>
        <!-- box-typical  -->
        <ng2-toasty [position]="position"></ng2-toasty>

        <div class="row">
            <!-- row Start-->
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <label class="form-label semibold" for="exampleInput"> Received
                </label>

                <input type="text" class="form-control" formControlName="paidamount"
                    style="font-size:20px;font-weight:bold" (change)="calcbal()" />
            </div>
            <div class="col-lg-3">
                <label class="form-label semibold" for="exampleInput"> Balance
                </label>

                <input type="text" class="form-control" formControlName="balanceamount"
                    style="font-size:20px;font-weight:bold" />
            </div>
        </div><br>
        <!-- row end-->

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-7">
                <h5 *ngIf="setcusname" style="font-family:Montserrat;font-weight:bold">This Customer <span style="color:red"> {{cusname}} </span> is a Refill Customer</h5>
                <h6 style="font-family:Montserrat;font-weight:bold;">
                    If you Alert Customer for Refill
                     <span (click)="openrefill()" *ngIf="opnrefill" class="ml-3" style="color:#52a00c;font-size:21px;cursor:pointer">Click Here!</span>
                     <span (click)="closerefill()" *ngIf="clsrefill" class="ml-3" style="color:#52a00c;font-size:21px;cursor:pointer">Minimize!</span>
                </h6>
            
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div class="form-inline">
                <input type="checkbox" class="tabcheck" *ngIf="refillcheck"  formControlName="refillcus" (click)="refillprocess($event,1)"/>
                <input type="text" class="form-control refill ml-2"  formControlName="refilldays" placeholder="Enter Days"
                style="font-size:20px;font-weight:bold" *ngIf="refill" disabled/>
                </div>
            </div>
        </div>


        <ng-template #content1 let-c="close" let-d="dismiss">
            <div class="modal-header">Select Type:
                <i class="fa fa-times" (click)="c('Close click');" style="color:white;cursor:pointer"></i>
            </div>
            <img src="assets/images/poptab.jpg" class="mt-4 modimg"><br><br>


            <div class="modal-body">


                <div class="row" *ngIf="registerForm.controls.cashamtflag.value==2">
                    <!-- Split Column   Start-->

                    <div class="col-lg-5">
                        <input type="checkbox" class="paycheck ml-2" formControlName="scitizenflag" />
                        <label class="form-label ml-1" for="exampleInput">Senior Citizen (SCW) </label>
                    </div>

                    <div class="col-lg-7">
                        <input type="checkbox" class="paycheck" formControlName="phycapflag" />
                        <label class="form-label ml-1" for="exampleInput">Physically Handicapped (PWD) </label>
                    </div>



                    <div class="col-lg-5">
                        <input type="checkbox" class="paycheck ml-2" formControlName="phydiscountflag" />
                        <label class="form-label ml-1" for="exampleInput">Add Discount </label>
                    </div>

                    <div class="col-lg-7">
                        <input type="checkbox" class="paycheck" formControlName="disctaxflag" />
                        <label class="form-label ml-1" for="exampleInput"> Tax Excempt </label>
                    </div>

                </div>
                <!-- Split Column end-->

            </div>

            <div class="modal-footer">
                <label class="btn modbtn" (click)="c('Close click')">Ok</label>
            </div>
        </ng-template>

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">Enter the Paid Amount:
                <i class="fa fa-times" (click)="c('Close click');" style="color:white;cursor:pointer"></i>
            </div>
            <img src="assets/images/poptab.jpg" class="mt-4 modimg"><br>
            <div class="modal-body">
                <input class="form-control" (change)="calcamt()" formControlName="cashamt"
                    *ngIf="registerForm.controls.cashamtflag.value==0 " placeholder="Enter Bill Amount" />
                <input class="form-control" (change)="calcamt()" formControlName="creditcardamt"
                    *ngIf="registerForm.controls.cashamtflag.value==1 " placeholder="Credit Card Amount" />
                <input class="form-control" (change)="calcamt()" formControlName="debitcardamt"
                    *ngIf="registerForm.controls.cashamtflag.value==3 " placeholder="Debit Card Amount" />

            </div>
            <div class="modal-footer">
                <label class="btn modbtn" (click)="c('Close click');">Ok</label>
            </div>
        </ng-template>



        <!-- New Product Popup -->

        <ng-template #content2 let-c="close" let-d="dismiss">

            <div class="modal-header">
                <label class="form-label semibold" for="exampleInput">Enter New Product
                </label>
                <i class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></i>
            </div><br>

            <div class="modal-body">
                <!-- 
                    <input class="form-control" (change)="calcamt()" formControlName="cashamt" *ngIf="registerForm.controls.cashamtflag.value==4"
                    placeholder="Enter Bill Amount" /> -->

                <!--Table Start-->
                <div formArrayName="newproduct" class="flow">

                    <table class="table styletab">
                        <thead class="stylehead">
                            <tr>
                                <th>Product Name</th>
                                <th>
                                    Req Qty
                                </th>
                                <th>
                                    Remarks
                                </th>
                            </tr>
                        </thead>
                        <tbody class="stylebody">
                            <tr *ngFor="let address of registerForm.controls.newproduct.controls;let i=index"
                                [formGroupName]="i">
                                <td>
                                    <input type="text" formControlName="newproductname" id="width5" />
                                </td>
                                <td>
                                    <input type="text" formControlName="reqqty" id="width3" />
                                </td>
                                <td>
                                    <input type="text" formControlName="remarks" (keydown)="addnewprod($event)" />
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" value="save" class="btn modbtn" (click)="saveNewProduct(c)"> Save</button>
            </div>
        </ng-template>

    </form>
    <br>
    <div class="row">
        <!-- row Start-->
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-round" (click)="onSubmit()" [disabled]="!registerForm.valid"> Save
            </button>

            <button type="button" class="btn btn-round ml-4" [routerLink]="['/SalesInvoice/slsInvEdit' ]"> Edit
            </button>
        
            <button class="btn btn-round ml-4" (click)="poprint()">Print</button>
            <!-- <a href="http://204.93.193.244:8082/birt/frameset?__report=MedeilReports/Bill_SalesInvoice/SalesInvoice.rptdesign&companyrefid={{selobj.companyid}}&branchrefid={{selobj.branchrefid}}&locname={{selobj.locname}}&locrefid={{selobj.locrefid}}&salesrefid={{soid}}&__format=PDF"
                    class="btn btn-round" (click)="poprint()" role="submit" aria-pressed="true" routerLinkActive="active" target="form_a">Print</a> -->
        </div>
       
        <div class="col-lg-3">
            <label class="btn btn-round" (click)="newprodopen(content2,4)" (click)="getNewProduct()"
                style="font-size: 1em; ">Add New Product</label>
        </div> <br>

    </div>
    <!-- row end-->
</app-card>