







<style>
    .table-responsive {
        max-height: 400px;
        overflow-y: scroll;
    }

    
  .scrollnew{

    height:3000px;

    background-color:   transparent  ;
  }


    </style>
    

    <app-card id="tab">
    
    
    <div class="table-responsive">
        <table class="table table-bordered">
    
            <tr>
                <th>PerInvId</th>
                <th>PerInvNo</th>
                <th>PerInvDate</th>
               
                <th>Edit</th>
      
    
    
            </tr>
            <tr *ngFor="let item of pharmacomp">
                <td>{{item[0  ]}} </td>
                <td>{{item[1  ]}} </td>
                <td>{{item[2  ]}} </td>
           
    
                <td><a [routerLink]="['/perinv/perinvEdit',item[0]]"
                    class="btn btn-primary ">Edit</a></td>
         
    
            
            </tr>
        </table>
    </div>
    
    
    
    </app-card>
    

    <div class="scrollnew">   </div> 

    