
<div class="row">
	<div class="col-sm-12">
		<app-card>
		<form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
				<div class="sub-title">Branch Details
					<i style="float:right;" class="fa fa-building-o" aria-hidden="true"></i>
				</div>
			<div class="form-group row">
			  <div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>Company Name</h6></label> <select
							name="select" class="form-control" id="companyrefid"
							formControlName="companyrefid">
							<option value="opt1">---Select Company---</option>
							<option *ngFor="let companyrefid of companies" value={{companyrefid[0]}}>{{companyrefid[1]}}</option>
						</select>
					</fieldset>
				</div>
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>Branch Name</h6></label> <input
							type="text" class="form-control" id="branchname"
							placeholder="Enter Branch Name" formControlName="branchname">
						<div class="messages text-danger"
							*ngIf="branchForm.controls.branchname.errors?.required">The Field is Required*</div>
					</fieldset>
				</div>
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class=" form-label"><h6>Short Name</h6></label> <input
							type="text" class="form-control" id="shortname"
							placeholder="Enter Short Name" formControlName="shortname">
						<div class="messages text-danger"
							*ngIf="branchForm.controls.shortname.errors?.required">The Field is Required*</div>
					</fieldset>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class=" form-label"><h6>Contact Person Name</h6></label> <input
							type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" id="contactperson"
							placeholder="Enter Contact_Person Name"
							formControlName="contactperson">
					</fieldset>
				</div>				
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>Designation</h6></label> <input
							type="text" class="form-control" id="desgination"
							placeholder="Designation" formControlName="desgination">
					</fieldset>
				</div>
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>Email Id</h6></label> <input type="text"
							class="form-control" id="email" placeholder="Enter Email Id"
							formControlName="email">
							<div class="messages text-danger"
							*ngIf="branchForm.controls.email.errors?.pattern">Enter
							Your Correct Mail Id!</div>
					</fieldset>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>Mobile Number</h6></label> <input
							type="number" class="form-control" id="mobileno"
							placeholder="Enter Mobile Number" formControlName="mobileno">
					</fieldset>
				</div>					
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>TIN</h6></label> <input type="text"
							class="form-control" id="tinno"
							placeholder="Tax Identification Number" formControlName="tinno">
					</fieldset>
				</div>
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>CST</h6></label>
						 <input type="text" 
							class="form-control" id="cstno"
							placeholder="Cetntral Service Tax" formControlName="cstno">
					</fieldset>
				</div>
			</div>
			<div class="form-group row">

				<!-- <div class="col-lg-4">
					<fieldset class="form-group">
						<label class="col-form-label"><h6>PAN</h6></label> <input type="text"
							class="form-control" id="panno"
							placeholder="Permanent Account Number" formControlName="panno">
					</fieldset>
				</div>						
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="col-form-label"><h6>GST</h6></label> <input type="text"
							class="form-control" id="gstno" placeholder="Goods And Service Tax"
							formControlName="gstno">
					</fieldset>
				</div> -->


				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>Address 1</h6></label> <input type="text"
							class="form-control" id="address1" placeholder="Address 1"
							formControlName="address1">
					</fieldset>
				</div>


				
				<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label"><h6>Address 2</h6></label> <input type="text"
								class="form-control" id="address2" placeholder="Address 2"
								formControlName="address2">
						</fieldset>
					</div>				
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label"><h6>Country</h6></label> <select
								name="select" class="form-control" id="country"
								formControlName="country" (change)="getState()">
								<option value="opt1" selected disabled>---Select Country---</option>
								<option *ngFor="let country of countries" value={{country[0]}}>{{country[1]}}</option>							
							</select>
						</fieldset>
					</div>
			</div>
			<div class="form-group row">
				
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>State</h6></label> <select name="select"
							class="form-control" id="state" formControlName="state" (change)="getCity()">
							<option value="opt1" selected disabled>---Select State---</option>
							<option *ngFor="let state of states" value={{state[0]}}>{{state[2]}}</option>
						</select>
					</fieldset>
				</div>
				<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label"><h6>City</h6></label> <select name="select"
								class="form-control" id="city" formControlName="city">
								<option value="opt1" selected disabled>---Select City---</option>
								<option *ngFor="let city of cities" value={{city[0]}}>{{city[1]}}</option>							
							</select>
						</fieldset>
					</div>
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label"><h6>ZIP/PIN Code</h6></label> 
							<input type="text" onkeyup="this.value = this.value.toUpperCase();" 
								class="form-control" id="pincode" placeholder="Enter Zip/Pin Code"
								formControlName="pincode">
						</fieldset>
					</div>



			</div>





			<div class="form-group row">
				
			
			</div>
			<div class="form-group row">

					<div class="col-lg-4">
							<fieldset class="form-group">
								<label class="form-label"><h6>Phone Number</h6></label> <input
									type="number" class="form-control" id="phoneno"
									placeholder="Enter Phone Number" formControlName="phoneno">
							</fieldset>
						</div>

						
				<div class="col-lg-4">
					<fieldset class="form-group">
						<label class="form-label"><h6>Country Code</h6></label> <select
							name="select" class="form-control" id="countrycode"
							formControlName="countrycode">
							<option value="opt1"selected disabled >---Select Country Code---</option>
							<option *ngFor="let countrycode of ccode"  value={{countrycode}}>{{countrycode}}</option>
						</select>
					</fieldset>
				</div>
			</div>
				<div class="col-lg-4">
					<fieldset class="form-group">
					<label class="form-label"></label>
					<button [disabled]="!branchForm.valid" type="submit"
						class="btn btn-round" style="margin-top: 30px;margin: 26px;">Save</button>
					</fieldset>
				
			</div>
		</form></app-card>
		<ng2-toasty [position]="position"></ng2-toasty>
	</div>
</div>
