




<style>
    .table-responsive {
        max-height: 400px;
        overflow-y: scroll;
    }
    </style>
    
    <h2> View</h2>
    <app-card id="tab">
    
    
    <div class="table-responsive">
        <table class="table table-bordered">
    
            <tr>
                <th>stkexprefid</th>
                <th>stkexpno</th>
                <th>stkexpdate</th>
               
                <th>Edit</th>
         
    
    
            </tr>
            <tr *ngFor="let item of dataall;">
                <td>{{item[0  ]}} </td>
                <td>{{item[1  ]}} </td>
                <td>{{item[2  ]}} </td>
           
    
                <td><a [routerLink]="['/stockexpiry/stkexpEdit',item[1  ]]"
                    class="btn btn-primary ">Edit</a></td>
  
            
            </tr>
        </table>
    </div>
    
    
    
    </app-card>
    