<style>


    .image {

        position: absolute;
        width: 400px;
        height: 400px;

        top: 0px;
        left: 60%;
        overflow-y: scroll;
        overflow-x: scroll;

        /*
    display:none  ;
 

   */
    }

     
    #ptdlist{
        padding-left:5px;
        text-align:center;
        font-size:15px;
        font-family:Montserrat;
    }


  .form-control:disabled, .form-control[readonly] {
                                
         background-color: transparent ;
                           
     }

     #swidth{
         width:250px;
     }

     .invstyle{
         font-weight:bold;
     }

     .invstyle input[type=text]{
         font-weight:bold;font-size:17px;
         font-family:Montserrat;
     }

</style>



<app-card>
    <div class="sub-title">Edit Details
        <i class="fa fa-edit ficon"></i>
    </div><br>

    <form [formGroup]="registerForm">


        <div class="box-typical box-typical-padding">


            <div class="row" >
                <!-- splitcolumn  start-->

                <div class="col-lg-3"  *ngIf="registerForm.controls.invdispflag.value=='0' " >
                        <label class="form-label semibold" for="exampleInput">Invoice No </label> 
                            
                          <select  class="form-control"  (change)="viewEdit()"  formControlName="id"
                          onfocus="if(this.options.length>5){this.size=5;}" onmousedown="if(this.options.length>5){this.size=5;}" onkeypress="if(this.options.length>5){this.size=5;}" 
                          onchange='this.size=0;' onblur="this.size=0;">
                            
                              <option *ngFor="let item of editdata; let i = index"    value={{item[0]}}>{{item[1]}}</option>
                                
                          </select>
                   </div> 

                   <div class="col-lg-3"  *ngIf="registerForm.controls.invdispflag.value=='1' "  >
                        
                        
                        <label class="form-label semibold" for="exampleInput">Invoice No
                              </label>
             
             
                      <input type="text" class="form-control" formControlName="salesbillno" />
             
                 </div>


                                  
                        <div class="col-lg-3"  >


                            <label class="form-label semibold" for="exampleInput">Customer name
                            </label>


                            <input type="text" class="form-control"  formControlName="customername"/>


                        </div>
                   

                        <div class="col-lg-3 drugname">


                            <label class="form-label semibold" for="exampleInput">Product Name
                            </label>


                            <input type="text" class="form-control" id="autoname" (focus)="autofocusin()" (focusout)="autofocusout()" autocomplete="off"
                                (keydown)="autokeyselect($event,0)" formControlName="autonamenew" placeholder="Type Search Product Name" />




                            <div id="autolist" 
                            style="height:135px;overflow:auto;position:absolute;z-index:2">
                                <ul id="ptdlist">


                                    <li width="250px" *ngFor="let address of    autodata; let i=index" [formGroupName]="i" (keydown)="autokeyselect($event,i+1)">
                                        <input readonly value={{address[0]}}  class="boldnew"/>
                                    </li>

                                </ul>

                            </div>

                            <div class="boxname">
                            <div id="autolistnew" 
                            style="position:absolute;z-index:2">
                                    <ul id="ptdlist">
                                        <li (keydown)="viewDrug($event, 1)">
                                            <input type="text" readonly value='Box' /> </li>
                                        <li (keydown)="viewDrug( $event ,2)">
                                            <input type="text" readonly value='Strip' /> </li>
                                        <li (keydown)="viewDrug($event ,3)">
                                            <input type="text" readonly value='Tab' /> </li>
    
                                    </ul>
    
                             </div>
                            </div>

                        </div>

                        

                        <div class="col-lg-3">
                            
                            
                                <label class="form-label semibold" for="exampleInput"> Invoice Date
                              </label>
              
      
                           <input type="date" class="form-control"    formControlName="date"  />
              
              
                     </div>


                    </div>


            


                <div class="col-lg-4">
                    <div class="row">

                                               

                        
                     <!--     <div class="col-lg-8">
                            
                            
                                                        <label class="form-label semibold" for="exampleInput" style="color: #0073aa"> Presc View
                                                        </label>
                            
                            
                            
                                                    </div>
                            
                            
                            
                            
                                                    <div class="col-lg-4">
                            
                                                        <label class="btn btn-primary" (click)="viewsPresc()">viewPresc</label>
                            
                                                    </div>  -->
                            
                            
                            
                            
                                          
                            


                        <div class="col-md-5 boxname">




                        </div>

                        <div class="col-md-7 boxname">





                        </div>



                    </div>

                </div>




                <div class="col-lg-4">
                    <div class="row">





                    </div>


                </div><br>

                <div class="title1"><u> Estimation Products </u>
                </div> <br>



            <div formArrayName="invoice" class="flow">
                <!--. table  start-->
                
                    <table class="table styletab" id="knowledgeTreeTable" (keydown)="autocleartable1()">
                        <thead class="stylehead">
                            <tr>
                                <th >Select  </th> 

                                <th>S. No </th>
                                  <th>Prod Code</th>
                                <th>Product Name</th>
                             <!--     <th>B/S/T</th>   -->  
                             <th>Unit Qty</th>
                             <th>Unit Free </th>

                             <th>Dis%</th>
                             <th>Total Qty </th>
                             <th>Total Free </th>
                                <th>Sales Price </th>



                                <th   *ngIf="registerForm.controls.vatdispflag.value=='0'">VAT  </th>    
                                  <th   *ngIf="registerForm.controls.vatdispflag.value=='1'" >SGST </th>
                                <th   *ngIf="registerForm.controls.vatdispflag.value=='1'" >CGST </th>
                                <th    *ngIf="registerForm.controls.vatdispflag.value=='1'">IGST </th>   

                                <th>Amount </th>
                             

                            </tr>
                        </thead>
                        <tbody class="stylebody">
                        <tr *ngFor="let address of registerForm.controls.invoice.controls; let i=index" [formGroupName]="i">
                           <td>
                            <input   type="checkbox" class="tabcheck" id="width1"    formControlName="delflag"   /></td>
                      
                            <td>
                                <input value={{i+1}} id="width1" readonly/>
                            </td>
                              <td><input  formControlName="drugproductid" id="width3"   readonly/></td>

                            <td>
                                <input formControlName="productname" id="swidth" style="text-align:left"   readonly    class="boldnew"/>
                            </td>
                        <!--      <td>
                                <input formControlName="drgtyp" />  
                            </td>   -->  
                            <td>
                                <input formControlName="indvqty" (keydown)="calc($event)" id="width2"  type="number"/>
                            </td>
                            <td>
                                <input formControlName="indvfreeqty" (keydown)="calc($event)" id="width2"  type="number"/>
                            </td>

                            <td>
                                <input formControlName="unitdiscount" id="width1"  type="number"/>
                            </td>
                            <td>
                                <input formControlName="totalqty" id="width2" (keydown)="calc($event)"  readonly/>
                            </td>
                            <td>
                                <input formControlName="totalfreeqty" id="width2"  readonly />
                            </td>
                            <td>
                                <input formControlName="unitprice" id="width2"   (keydown)="calc($event)"   type="number" />
                            </td>

                       	 <td   *ngIf="registerForm.controls.vatdispflag.value=='0'">
                                <input  formControlName="unitvat" id="width1" /></td>
                           <td   *ngIf="registerForm.controls.vatdispflag.value=='1'">
                               <input  formControlName="unitsgst"  id="width1" /></td>
                            <td   *ngIf="registerForm.controls.vatdispflag.value=='1'">
                                <input formControlName="unitcgst" id="width1" />
                            </td>
                            <td   *ngIf="registerForm.controls.vatdispflag.value=='1'" >
                                <input formControlName="unitigst" id="width1" />
                            </td>    


                            <td>
                                <input formControlName="subtotal"  readonly/>
                            </td>
        

                        </tr>
                        </tbody>
                    </table>
                </div><br>
            <!--. table     end-->
   

       <div class="col-lg-5">   
        <button  type="button" class="btn btn-round"   (click)="remove()"> Remove  </button>    
      </div>   <br>

    

      <div class="borderform"> <!-- splitcolumnbefore1   start-->

            <div class="row topadding invstyle">
                <!-- splitcolumn  start-->

             
                        <div class="col-lg-3">


                            <label class="form-label semibold" for="exampleInput">Total Product
                            </label>


                            <input type="text" class="form-control" formControlName="totalitems" readonly />


                        </div>

                        <div class="col-lg-3">


                            <label class="form-label semibold"  for="exampleInput">Grand Total
                            </label>


                            <input type="text" class="form-control" formControlName="grandtotal"  readonly/>

                        </div>


                        
                        <div class="col-lg-3">


                                <label class="form-label semibold" for="exampleInput">Sub Total
                                </label>
    
                                <input type="text" class="form-control" formControlName="totalamount" readonly />
    
    
                            </div>

                    
                            <div class="col-lg-3">


                                    <label class="form-label semibold" for="exampleInput">Total Discount Amt
                                    </label>
        
        
                                    <input type="text" class="form-control" formControlName="totaldiscount"  readonly/>
        
        
                             </div>
        


                        <div class="col-lg-3 mt-3">


                            <label class="form-label semibold" for="exampleInput">Taxable Amt
                            </label>
                            <input type="text" class="form-control" formControlName="taxableamt"  readonly/>


                        </div>

                        <div class="col-lg-3 mt-3">


                            <label class="form-label semibold" for="exampleInput">Total Tax Amt
                            </label>

                            <input type="text" class="form-control" formControlName="totaltaxamt"  readonly/>


                        </div>

                    

                    </div>


                </div>
                <!-- subcolumn  end-->

            <ng2-toasty [position]="position"></ng2-toasty>

        </div>
        <!-- box-typical-->


        <div class="image">

                <button type="submit" class="btn btn-round" (click)="ClosePresc()">Close</button>
                
            <ngx-image-viewer [src]=images></ngx-image-viewer>


        </div>


    </form><br>
    <!--addresses-->



    <div class="row mb-3">   <!-- row Start--> 
        
        <div class="col-lg-1"></div>

        <div class="col-lg-3">   
            <button  type="button" class="btn btn-round"  (click)="onSubmit()"    [disabled]="!registerForm.valid"  [routerLink]="['/SalesDummy/SalesDummy' ]"  > Update  </button>
          </div>   

        <div class="col-lg-3">    
             <button  type="button" class="btn btn-round"  (click)="deleteSalesDummy()" > Delete  </button>
       </div> 
 
       <div class="col-lg-3">    <button  type="button" class="btn btn-round" 
           [routerLink]="['/SalesDummy/SalesDummy' ]"     > Back  </button> 
         </div>     
    
                                                                                         
     </div>  <!-- row end--> 



</app-card>







<div class="scrollnew">   </div> 
