


<style>
	.nodata {
		text-align: center;
		width: 100%;
		padding: 10px;
		font-size: 25px;
		color: rgb(245, 50, 50);
		font-family: Verdana, Geneva, sans-serif;
	}

	.action {
		font-size: 15px;
		color: green;
	}

	.action1 {
		font-size: 15px;
		color: red;
	}

	.data-search {
		width: 70%;
		margin-left: 0.5em;
		display: inline-block;
		max-width: 150px;
	}
   .table td{

        padding-top: 0.46em ;
       padding-bottom:  0.46em ;
       }

</style>
<app-card >

	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
			<div>
				<label class="label-control">Show
					<select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
						<option [ngValue]="1">1</option>
						<option [ngValue]="25">25</option>
						<option [ngValue]="50">50</option>
						<option [ngValue]="100">100</option>
					</select>
					Entries
				</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
			<div style="text-align:right;">
				<label>
					<strong>Search : </strong>
					<input type="search" [(ngModel)]="filterQuery" class="form-control input-sm data-search" placeholder="Search Domain">
				</label>
			</div>
		</div>
	</div>
	<div class="dt-responsive">
		<div style="overflow-x: scroll">
			<table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
			 #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
				<thead>
					<tr>
				 <th>Distributor Select Number </th>
				 <th>Distributor Seclect Date</th>
                <th>Distributor Name</th>
                <th>Brand Name</th>
                <th > Expected Order Quantity  </th>
               
			    
                <th > Expected Price  </th> 
                 <th >Distributor  Price  </th> 
                  <th >Status  </th> 
					
					</tr>
					<tr>
					</tr>
				</thead>
				<tbody>
				
					<tr *ngFor="let val of mf.data;let i=index">
					
						<td>{{val[1]}}</td>
						<td>{{val[2]}}</td>
						<td>{{val[3]}}</td>
						<td>{{val[4]}}</td>
						<td>{{val[5]}}</td>
						

	              	<td>{{val[6]}}</td>
						<td>{{val[7]}}</td>

                      <td>
							<span class="label label-danger" *ngIf="val[10]==0" style="font-size: 16px;">Not Updated</span>
							<span class="label label-success" *ngIf="val[10]==1 " style="font-size: 16px;">Updated</span>
						</td>
					</tr>

						<tr *ngIf="(data | dataFilter : filterQuery) == 0">
						<td></td>
						<td></td>
						<td></td>
						<td class="nodata">No matching Records found....</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>


				</tbody>
				<tfoot>
					<tr>
						<td colspan="7">
							<mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

</app-card>






