<app-card>
  <div class="sub-title">User Task Management
    <i class="fa fa-cog ficon"></i>
  </div>

  <form [formGroup]="usertask" (ngSubmit)="onSubmit()">

    <div class="form-group row">

      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Task Type</h6>
        </label>
        <select name="select" class="form-control" placeholder="---Select Task---" formControlName="task_type_id">
          <option value="opt1" selected disabled>---Select Task Type---</option>
          <option *ngFor="let coun of tasktype" value={{coun[0]}}> {{coun[1]}}</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Task Title</h6>
        </label>
        <input type="text" class="form-control" placeholder="---Enter your Task Title---" formControlName="task_title">
      </div>

      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Department</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select Dept" formControlName="deptid"
          (change)=" getSubDept();getEmployee()">
          <option selected disabled value="opt1">---Select Department---</option>

          <option *ngFor="let coun of dept" value={{coun[0]}}>{{coun[1]}}</option>
        </select>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Sub Department</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select SubDept" formControlName="subdeptid"
          (change)=" getDivision()">
          <option selected disabled value="opt1">---Select SubDepartment---</option>

          <!-- <option value ="1">1 </option>
                      <option value ="2">2 </option>
                      <option value ="3">3 </option> -->
          <option *ngFor="let coun of subdept" value={{coun[0]}}>{{coun[1]}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Division</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select Division" formControlName="divisionid"
          (change)="getSubDivision()">
          <option selected disabled value="opt1">---Select Division---</option>

          <!-- <option value ="1">1 </option>
                        <option value ="2">2 </option>
                        <option value ="3">3 </option> -->
          <option *ngFor="let coun of division" value={{coun[0]}}>{{coun[1]}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Sub Division</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select SubDivision" formControlName="subdivisionid">
          <option selected disabled value="opt1">---Select SubDivision---</option>

          <!-- <option value ="1">1 </option>
                          <option value ="2">2 </option>
                          <option value ="3">3 </option> -->
          <option *ngFor="let coun of subdivision" value={{coun[0]}}>{{coun[1]}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Employee Name</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select Task" formControlName="employeeid">
          <option value="opt1" selected disabled>---Select Employee Name---</option>

          <option *ngFor="let coun of empname" value={{coun[0]}}> {{coun[1]}}</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Task Start Date[MM/DD/YYYY]</h6>
        </label>
        <input type="date" class="form-control" placeholder="Enter your Task Start Date"
          formControlName="task_start_date" />
      </div>

      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Task Start Time</h6>
        </label>
        <br>
        <input type="time" name="limittime" list="limittimeslist" step="0.001" class="form-control"
          formControlName="task_start_time">
        <!-- <input type="time" class="form-control"  formControlName="task_start_time"/> -->
      </div>

    </div>

    <div class="form-group row">


      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Task Due Date[MM/DD/YYYY]</h6>
        </label>
        <input type="date" class="form-control" placeholder="Enter your Task Due Date"
          formControlName="task_due_date" />
      </div>

      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Task Due Time</h6>
        </label>
        <input type="time" name="limittime" list="limittimeslist" step="0.001" class="form-control"
          formControlName="task_due_time">
        <!-- <input type="time" class="form-control"  formControlName="task_due_time"
                /> -->
      </div>

      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Priority</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select Priority" formControlName="priority_id">
          <option value="opt1" selected disabled>---Select Priority---</option>

          <option *ngFor="let coun of taskspriority" value={{coun[0]}}> {{coun[1]}}</option>
        </select>
      </div>

    </div>

    <!--       
            <div class="form-group row">
              
             
        
               <div class="col-sm-4">
                <label class="form-label semibold"><h6>Document Title</h6></label>
                <input type="text" class="form-control" placeholder="Enter your Doc Title"  formControlName="document_title"
                />
              </div> -->

    <!-- <div class="col-sm-4">
                <label class="form-label semibold"><h6>Related Document</h6></label>
                <input type="file" class="form-control" placeholder="Select File"  formControlName="related_document"
                />
              </div> -->

    <div class="form-group row">

      <div class="col-sm-6">
        <label class="form-label semibold">
          <h6>Description</h6>
        </label>
        <br>
        <textarea rows="3" cols="100" formControlName="description" placeholder="Type Description here...">
                 </textarea>

      </div>
    </div>

    <div class="col-lg-4 mt-4">

      <button type="submit" class="btn btn-round">Save</button>

    </div>



  </form>

</app-card>
<ng2-toasty [position]="position"></ng2-toasty>