
<app-card>
    <div class="sub-title">Distributor Details
        <i class="fa fa-user ficon"></i>
    </div><br>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mx-3">

        <div class="box-typical box-typical-padding">
            <div class="form-group row">
                <div class="col-lg-4" style="display: none;">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput">
                            <h6>Distributor Id </h6>
                        </label>
                        <input type="text" name="doctorName" class="form-control" id="docid" placeholder="" formControlName="distid"
                        />
                    </fieldset>
                </div>

                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">
                            <h6>Distributor Name </h6>
                        </label>
                        <input type="text" class="form-control" id="docregistrationid" placeholder=" " formControlName=distributorname
                        autofocus/>
                        <p class="messages text-danger" *ngIf="registerForm.controls.distributorname.errors?.required">
                            This Field is Required*
                        </p>
                        <p class="messages text-danger" *ngIf="registerForm.controls.distributorname.errors?.pattern">
                            Accepts Only Text!</p>
                        <p class="messages text-danger" *ngIf="registerForm.controls.distributorname.errors?.rangeLength"> Enter Between than 5 to 20 Letters!
                        </p>
                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">
                            <h6>Distributor Short Name </h6>
                        </label>
                        <input type="text" class="form-control" id="docname" placeholder="" formControlName="dshortname" />
                       
                        <p class="messages text-danger" *ngIf="registerForm.controls.dshortname.errors?.pattern">Accepts Only Text!</p>
                       
                    </fieldset>
                </div>
                <div class="col-lg-3" id="country">
                    <label class="form-label" for="country">
                        <h6>Add Distributor Type</h6>
                    </label>
                    <!-- id="doccountry" -->
                    <section>
                        <div class="patienttallergies">
                            <select name="select" class="form-control" formControlName="distributortypeid" (change)="getadddistributortype($event.target.value, contentadddis)">
                                <option value="addditributor" id="comdivision2" (click)="open(contentaddis)" style="background-color: #52aa0c;color:white"> Add Distributor Type
                                </option>
                                <option *ngFor="let item of disttypes ; let i = index" value={{item[0]}}>{{item[1]}}
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
                <!--  <div class="col-lg-1">
                    <label style=" display: block;
                    text-align: center;">Add </label>
            <label class="btn btn-primary" (click)="open(content)"  id="comdivision">Add</label>
             </div>           -->
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">
                            <h6>Credit Terms</h6>
                        </label>
                        <input type="number" class="form-control" placeholder="" formControlName="creditdays" />
                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">
                            <h6>Lead Time </h6>
                        </label>
                        <input type="number" class="form-control" placeholder="" formControlName="leadtime" />
                    </fieldset>
                </div>
            </div>
            <!--.row1end-->
            <div class="sub-title">
                Contact Details
            </div>
            <div class="row">
                <!--.row2start-->

                <div class="col-lg-4">
                        <fieldset class="form-group">
                            <label class="form-label" for="exampleInput">
                                <h6>Contact Person Name</h6>
                            </label>
                            <input type="text" onkeyup="this.value = this.value.toUpperCase();"  class="form-control" id="docpincode" placeholder="  " formControlName="contactperson"
                            />
                        </fieldset>
                    </div>

                    <div class="col-lg-4">
                            <fieldset class="form-group">
                                <label class="form-label semibold" for="exampleInput">
                                    <h6>Designation</h6>
                                </label>
                                <input class="form-control" id="docphonenumber" placeholder="  " formControlName="designationid"
                                />
                            </fieldset>
                        </div>

                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">
                            <h6>Address</h6>
                        </label>
                        <input type="text" class="form-control" id="doc_address1" placeholder="" formControlName="address1"
                        />
                        <p class="messages text-danger" *ngIf="registerForm.controls.address1.errors?.required">This Field is Required*</p>
                    </fieldset>
                </div>
                <div class="col-lg-4" id="country">
                    <section>
                        <label class="form-label" for="country">
                            <h6>Country</h6>
                        </label>
                        <div id="country">
                            <select class="select2" id="doccountry" class="form-control" (click)="viewState()" formControlName="country">
                                <option *ngFor="let item of countries; let i = index" value={{item[0]}}>{{item[1]}}
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4" id="state">
                    <section class="form-group">
                        <label class="form-label" for="state">
                            <h6>State</h6>
                        </label>
                        <div id="state">
                            <select class="select2" id="docstate" class="form-control" (click)="viewCity()" formControlName="state">
                                <option *ngFor="let item of states; let i = index" value={{item[0]}}>{{item[2]}}
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4" id="state">
                    <section class="form-group">
                        <label class="form-label" for="state">
                            <h6>City</h6>
                        </label>
                        <div id="state">
                            <select class="select2" id="docstate" class="form-control" formControlName="city">
                           
                                <option *ngFor="let item of cities; let i = index" value={{item[0]}}>{{item[2]}}
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">
                            <h6>PIN/ZIP Code</h6>
                        </label>
                        <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" id="docpincode"
                             placeholder="  " formControlName="pincode" />
                    </fieldset>
                </div>

                <div class="col-lg-4">
                        <fieldset class="form-group">
                            <label class="form-label" for="exampleInput">
                                <h6>Mobile Number</h6>
                            </label>
                            <input class="form-control" id="docmobile" type="number" placeholder="  " formControlName="mobileno"
                            />
                            <p class="messages text-danger" *ngIf="registerForm.controls.mobileno.errors?.required">This Field is Required*</p>
                        </fieldset>
                    </div>

                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput">
                            <h6>Phone Number</h6>
                        </label>
                        <input type="number" class="form-control" id="docphonenumber" placeholder="  " formControlName="phoneno"
                        />
                    </fieldset>
                </div>
              
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInputEmail1">
                            <h6>Email Id
                            </h6>
                        </label>
                        <input type="email" class="form-control"  placeholder="  " formControlName="email" />
                        <div class="messages text-danger" *ngIf="registerForm.controls.email.errors?.pattern">Enter Correct Mail!</div>
                        
                    </fieldset>
                </div>
                <!-- <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput"><h6>PAN Number</h6></label> <input
                            type="text" class="form-control" id="docpincode"
                            placeholder="  " formControlName="panno" />
    
    
                    </fieldset>
                </div> -->
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput">
                            <h6>TIN Number</h6>
                        </label>
                        <input type = "text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" id="docphonenumber" placeholder="  " formControlName="tinno" />
                    </fieldset>
                </div>
                <!-- <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput"><h6>GST Number</h6></label> <input
                            type="text" class="form-control" id="docpincode"
                            placeholder="  " formControlName="gstno" />
    
    
                    </fieldset>
                </div>
     -->
                <!-- <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput"><h6>IEC Code</h6>
                            </label> <input  class="form-control" id="docphonenumber"
                            placeholder="  " formControlName="ieccode" />
    
    
                    </fieldset>
                </div>
                 -->
              
             
                <div class="col-lg-4">
                    <label class="form-label semibold" for="exampleInput">
                        <h6>Select Pharma Company</h6>
                    </label>
                    <angular2-multiselect [data]="mulList" [settings]="mulSettings" formControlName="phcompany">
                    </angular2-multiselect>
                </div>
            </div>
            <!--.row2 end--><br>
            <div class="sub-title">
                Bank Details
            </div><br>
            <div class="row">
                <!--.row3start-->
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">
                            <h6>Bank Name</h6>
                        </label>
                        <input type="text" class="form-control" id="docpincode" placeholder="  " formControlName="bankname"
                        />
                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput">
                            <h6>Bank Branch</h6>
                        </label>
                        <input class="form-control" id="docphonenumber" placeholder="  " formControlName="bankbranch" />
                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput">
                            <h6>Account Number</h6>
                        </label>
                        <input type="number" class="form-control" id="docpincode" placeholder="  " formControlName="accountnumber"
                        />
                    </fieldset>
                </div>
                <!-- <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput"><h6>IFSC Code</h6>
                            </label> <input class="form-control" id="docphonenumber"
                            placeholder="  " formControlName="ifsccode" />
    
    
                    </fieldset>
                </div>
    
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label" for="exampleInput"><h6>SWIFT Code</h6></label> <input
                            type="text" class="form-control" id="docpincode"
                            placeholder="  " formControlName="swiftcode" />
    
    
                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label class="form-label semibold" for="exampleInput"><h6>MISC Code</h6>
                            </label> <input class="form-control" id="docphonenumber"
                            placeholder="  " formControlName="misccode" />
    
    
                    </fieldset>
                </div> -->
            </div>
            <!--.row3 end-->
            <div class="row">
                <!--.row4 start-->
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-round" style=" margin:26px" [disabled]="!registerForm.valid">Submit</button>
                </div>
            </div>
            <!--.row4 end-->
            <ng2-toasty [position]="position"></ng2-toasty>
            <ng-template #contentadddis let-c="close" let-d="dismiss">
                <div class="modal-header">
                        <label class="form-label semibold" for="exampleInput">
                                Add Distributor Type
                            </label>
                           <i class="fa fa-times" (click)="c('Close click')" style="cursor:pointer;color:white" ></i>
                </div>
                <img src="assets/images/potab1.jpg" class="mt-4 modimg"><br>
                <div class="modal-body">
                   
                    <input class="form-control" id="docphonenumber" formControlName="indvdisttype" placeholder=" Add Distributor Type " />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn modbtn " id="type" (click)="saveIndvDistType1(c)">Save DistType</button>
                </div>
            </ng-template>
        </div>
        <!-- box-typical-->
    </form>
</app-card>