<style>
 
  .nodata {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    color: rgb(245, 50, 50);
    font-family: Verdana, Geneva, sans-serif;
  }
  .action {
    font-size: 15px;
    color: green;
  }
  .action1 {
    font-size: 15px;
    color: red;
  }

  
	.searchanimate {
		width: 230px;
		border: 2px solid #b3b3b3;
		border-radius: 15px;
		font-size: 16px;
		background-color: white;
		background-image: url('assets/images/search.png');
		background-size: 20px 25px;
		background-position: 8px 8px;
		background-repeat: no-repeat;
		padding: 7px 7px 7px 40px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}

	.searchanimate:focus {
		width: 65%;
	}

	.stylelab {
		margin-right:9px;
		font-size: 20px;
		color: #5aa02c;
		font-family: Montserrat;
		font-weight: bold;
		cursor: pointer;
	}

	.form-label{

		font-size:23px;
		color:brown;
		margin-left:5px;
		font-weight:bold;
	}

	
	.bform{
		border:2px solid #b3b3b3;
		border-radius:10px;
		padding:1em;
	}

</style>
<app-card>
  <div class="bform">
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-inline justify-content-end">
          
            <input type="text" [(ngModel)]="filterQuery" *ngIf="drugsearch"  class="searchanimate" placeholder="Search Product Name...">
            <input type="text" [(ngModel)]="filterQuery" *ngIf="formsearch"  class="searchanimate" placeholder="Search Formulation...">
        </div>
      </div>
    </div><br>

    <div align="center">
        <img src="assets/images/loading.gif" height="100px" *ngIf="gifFail">
      </div><br>

    <form [formGroup]="stockForm">
      <div align="center">
        <input type="checkbox" formControlName="drugsearch" (click)="check($event,0)" style="height:1.4em;width:1.3em">
        <label class="form-label mr-3">Product Search</label>
        <input type="checkbox" formControlName="formsearch" (click)="check($event,1)" style="height:1.4em;width:1.3em">
        <label class="form-label">Formulation Search</label>
      </div>
    </form><br>

    <div class="contain">

      <span (click)="getvalue(getval1)" #getval1 [ngStyle]="{'color':'A'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">A</span>
      <span (click)="getvalue(getval2)" #getval2 [ngStyle]="{'color':'B'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">B</span>
      <span (click)="getvalue(getval3)" #getval3 [ngStyle]="{'color':'C'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">C</span>
      <span (click)="getvalue(getval4)" #getval4 [ngStyle]="{'color':'D'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">D</span>
      <span (click)="getvalue(getval5)" #getval5 [ngStyle]="{'color':'E'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">E</span>
      <span (click)="getvalue(getval6)" #getval6 [ngStyle]="{'color':'F'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">F</span>
      <span (click)="getvalue(getval7)" #getval7 [ngStyle]="{'color':'G'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">G</span>
      <span (click)="getvalue(getval8)" #getval8 [ngStyle]="{'color':'H'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">H</span>
      <span (click)="getvalue(getval9)" #getval9 [ngStyle]="{'color':'I'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">I</span>
      <span (click)="getvalue(getval10)" #getval10 [ngStyle]="{'color':'J'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">J</span>
      <span (click)="getvalue(getval11)" #getval11 [ngStyle]="{'color':'K'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">K</span>
      <span (click)="getvalue(getval12)" #getval12 [ngStyle]="{'color':'L'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">L</span>
      <span (click)="getvalue(getval13)" #getval13 [ngStyle]="{'color':'M'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">M</span>
      <span (click)="getvalue(getval14)" #getval14 [ngStyle]="{'color':'N'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">N</span>
      <span (click)="getvalue(getval15)" #getval15 [ngStyle]="{'color':'O'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">O</span>
      <span (click)="getvalue(getval16)" #getval16 [ngStyle]="{'color':'P'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">P</span>
      <span (click)="getvalue(getval17)" #getval17 [ngStyle]="{'color':'Q'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">Q</span>
      <span (click)="getvalue(getval18)" #getval18 [ngStyle]="{'color':'R'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">R</span>
      <span (click)="getvalue(getval19)" #getval19 [ngStyle]="{'color':'S'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">S</span>
      <span (click)="getvalue(getval20)" #getval20 [ngStyle]="{'color':'T'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">T</span>
      <span (click)="getvalue(getval21)" #getval21 [ngStyle]="{'color':'U'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">U</span>
      <span (click)="getvalue(getval22)" #getval22 [ngStyle]="{'color':'V'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">V</span>
      <span (click)="getvalue(getval23)" #getval23 [ngStyle]="{'color':'W'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">W</span>
      <span (click)="getvalue(getval24)" #getval24 [ngStyle]="{'color':'X'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">X</span>
      <span (click)="getvalue(getval25)" #getval25 [ngStyle]="{'color':'Y'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">Y</span>
      <span (click)="getvalue(getval26)" #getval26 [ngStyle]="{'color':'Z'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">Z</span>

      
      <span (click)="getvalue(getval00)" #getval00 [ngStyle]="{'color':'0'==bindvalue?'red': '#5aa02c'}"
        class="stylelab ml-3">0</span>
      <span (click)="getvalue(getval01)" #getval01 [ngStyle]="{'color':'1'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">1</span>
      <span (click)="getvalue(getval02)" #getval02 [ngStyle]="{'color':'2'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">2</span>
      <span (click)="getvalue(getval03)" #getval03 [ngStyle]="{'color':'3'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">3</span>
      <span (click)="getvalue(getval04)" #getval04 [ngStyle]="{'color':'4'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">4</span>
      <span (click)="getvalue(getval05)" #getval05 [ngStyle]="{'color':'5'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">5</span>
      <span (click)="getvalue(getval06)" #getval06 [ngStyle]="{'color':'6'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">6</span>
      <span (click)="getvalue(getval07)" #getval07 [ngStyle]="{'color':'7'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">7</span>
      <span (click)="getvalue(getval08)" #getval08 [ngStyle]="{'color':'8'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">8</span>
      <span (click)="getvalue(getval09)" #getval09 [ngStyle]="{'color':'9'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">9</span>
  
  
      <span (click)="getvalue(getvalap)" #getvalap [ngStyle]="{'color':'α'==bindvalue?'red': '#5aa02c'}"
        class="stylelab ml-3">α</span>
      <span (click)="getvalue(getvalba)" #getvalba [ngStyle]="{'color':'β'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">β</span>
      <span (click)="getvalue(getvalca)" #getvalca [ngStyle]="{'color':'γ'==bindvalue?'red': '#5aa02c'}"
        class="stylelab">γ</span>
  
  
    </div><br>

    <div class="dt-responsive">
    <div style="overflow: auto">
      <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery : indx"
        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>
              S.No
            </th>
            <th>
             Product Code
            </th>
            <th>
              Product Name
            </th>
            <th>
              Dosage Value
            </th>
            <th>
              Formulation
            </th>
            <th>
              Batch Number
            </th>
            <!-- <th>
              <mfDefaultSorter by="boxstrip">Box/Strip</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="ss">Strip/Tablet</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="ss">Box Quantity</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="ss">Strip Quantity</mfDefaultSorter>
            </th> 
            <th>
              <mfDefaultSorter by="ss">Tablet Quantity</mfDefaultSorter>
            </th> -->
            <th>
             Total Qty
            </th>
            <th>
              Free Total-Qty
            </th>
            <th>
              Expiry Date
            </th>
            <th>
              SRP
            </th>
            <th>
              Acquisition Cost
            </th>
            <th>
              Selling Price
            </th>
            <th>
              Margin
            </th>
            <th>
              Margin Amount
            </th>
            <th>
              Stock Ageing
            </th>
            <th>
              Action
            </th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(data | dataFilter : filterQuery : indx) == 0">
            <td></td>
            <td></td>
            <td></td>
            <td class="nodata">No matching Records found....</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           <td></td> 
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let val of mf.data | dataFilter : filterQuery : indx ;let i=index">
            <td>{{i+1}}</td>
            <td>{{val[19]}}</td>
            <td>{{val[0]}}</td>
            <td>{{val[1]}}</td>
            <td>{{val[2]}}</td>
            <td>{{val[3]}}</td>
            <!-- <td>{{val[4]}}</td>
            <td>{{val[5]}}</td>
            <td>{{val[6]}}</td>
            <td>{{val[7]}}</td> 
            <td>{{val[8]}}</td> -->
            <td>{{val[9]}}</td>
            <td>{{val[10]}}</td>
            <td>{{val[11]}}</td>
            <td>{{val[12]}}</td>
            <td class="right">{{val[13]}}</td>
            <td class="right">{{val[14]}}</td>
            <td>{{val[15]}}</td>
            <td class="right">{{val[16]}}</td>
            <td>{{val[18]}}</td>
            <td>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button style="color:deepskyblue;" ngbDropdownToggle class="btn btn-mini dropdown-toggle waves-light b-none txt-muted dropDownbutton"
                  type="button" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="icofont icofont-navigation-menu"></i>
                </button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown10" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;" [routerLink]="['/StockEntryForm/editStock',val[17]]" skipLocationChange>
                    <i class="icofont icofont-ui-edit action" title="Edit Company">&nbsp;
                      <span class="tdspan">Edit</span>
                    </i>
                  </a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;" (click)="deleteStock(val[17])">
                    <i class="icofont icofont-delete-alt action1" title="Delete">&nbsp;
                      <span class="tdspan">Delete</span>
                    </i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="16">
              
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  </div>
</app-card>
<ng2-toasty [position]="position"></ng2-toasty>