<app-card>
  <div class="sub-title">View User Task
    <i class="fa fa-cog ficon"></i>
  </div>

  <form [formGroup]="viewusertask" (ngSubmit)="onSubmit()">

    <div class="form-group row">

      <div class="col-sm-4">

        <fieldset class="form-group">
          <label class="form-label semibold">
            <h6>Task Type</h6>
          </label>
          <select name="select" class="form-control" placeholder="Select Task" formControlName="task_type_id">
            <option disabled Value="opt1">---Select Task Type---</option>


            <option *ngFor="let coun of tasktype" value={{coun[0]}}> {{coun[1]}}</option>
          </select>


          <div class="messages text-danger" *ngIf="viewusertask.controls.task_type_id.errors?.required">Select
            Task Type</div>

        </fieldset>


      </div>



      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Department</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select Dept" formControlName="deptid"
          (change)="getSubDept()">
          <option selected disabled Value="opt1">---Select Department---</option>

          <option *ngFor="let coun of dept" value={{coun[0]}}>{{coun[1]}}</option>
        </select>

        <div class="messages text-danger" *ngIf="viewusertask.controls.deptid.errors?.required">Select
          Department</div>
      </div>
      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Sub Department</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select SubDept" formControlName="subdeptid"
          (change)=" getDivision()">
          <option selected disabled value="opt1">---Select Sub Department---</option>


          <option *ngFor="let coun of subdept" value={{coun[0]}}>{{coun[1]}}</option>
        </select>
      </div>


    </div>

    <div class="form-group row">

      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Division</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select Division" formControlName="divisionid"
          (change)="getSubDivision()">
          <option value="opt1" selected disabled>---Select Division---</option>

          <option *ngFor="let coun of division" value={{coun[0]}}> {{coun[1]}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Sub Division</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select SubDivision" formControlName="subdivisionid"
          (change)="getAssignEmployee()" (click)="getAssignEmployee()">
          <option value="opt1" selected disabled>---Select Sub Division---</option>

          <option *ngFor="let coun of subdivision" value={{coun[0]}}> {{coun[1]}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Assigned Employee</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select AssignedEmployee"
          formControlName="task_assigned_to">
          <option value="opt1" selected disabled>---Select Assigned Employee---</option>

          <option *ngFor="let coun of empname" value={{coun[0]}}> {{coun[1]}}</option>
        </select>
      </div>


    </div>

    <div class="form-group row">



      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Task Priority</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select TaskPriority" formControlName="priority_id">
          <option value="opt1" selected disabled>---Select Task Priority---</option>


          <option *ngFor="let coun of taskspriority" value={{coun[0]}}> {{coun[1]}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="form-label semibold">
          <h6>Task Status</h6>
        </label>
        <select name="select" class="form-control" placeholder="Select TaskStatus" formControlName="task_status_id"
          (change)="getTableValues()">
          <option value="opt1" selected disabled>---Select Task Status---</option>


          <option *ngFor="let coun of taskstatus" value={{coun[0]}}> {{coun[1]}}</option>
        </select>
      </div>

    </div>
    <div class="dt-responsive">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
          <div>

          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div style="text-align: right;">
            <label>Search:
              <input type="search" [(ngModel)]="filterQuery" [ngModelOptions]="{standalone: true}"
                class="form-control input-sm full-data-search" placeholder="Search Usertask">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div style="overflow: auto">
      <table class="table table-striped table-bordered table-responsive full-data-table"
        [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
        [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>Task Number</th>
            <th>Task Title</th>
            <th>Priority</th>
            <th>Task Status</th>
            <th>Assigned By</th>
            <th>Assigned To</th>
            <th>Task Start Date</th>
            <th>Task Due Date</th>
            <th>Completed Date</th>
            <th>Action</th>
            <th>Task Details</th>

          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(data | dataFilter : filterQuery) == 0">
            <td></td>
            <td class="nodata">No matching Records found....</td>
            <td></td>
          </tr>
          <tr *ngFor="let val of mf.data;let i=index">
         
            <td>{{val[0]}}</td>
            <td>{{val[1]}}</td>
            <td>{{val[2]}}</td>
            <td>{{val[3]}}</td>
            <td>{{val[4]}}</td>
            <td>{{val[5]}}</td>
            <td>{{val[6]}}</td>
            <td>{{val[7]}}</td>
            <td>{{val[8]}}</td>
            
            <td ngbDropdown class="text-center">
              <a ngbDropdownToggle class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">
                <i class="icofont icofont-ui-settings"></i>
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:;" [routerLink]="['/usertask/editPurchaseOrder',val[0]]"><i
                    class="icofont icofont-ui-edit"></i>Edit</a>
                <!-- <a class="dropdown-item" href="javascript:;"  (click)="usertask(val[0])"><i class="icofont icofont-attachment"></i>Delete</a>                            -->
              </div>
            </td>
            <td >
              <span [routerLink]="['/usertask/Usertaskdetails']"
                class="btn viewbtn">View Usertask</span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <!-- <button type="submit" class="btn btn-round" title="please fill the fields"  [disabled]="!viewusertask.valid">
        Save </button> -->



  </form>


</app-card>
 <ng2-toasty [position]="position"></ng2-toasty>