  
            <app-card>
            
            <div class="sub-title">Edit Details
              <i class="fa fa-edit ficon"></i>
            </div><br>
            <form [formGroup]="registerForm" >
            
            
                <div class="box-typical box-typical-padding">
            
        
                    <div class="row">   <!-- splitcolumn  start--> 
        
        
                                    <div class="col-lg-4"  *ngIf="registerForm.controls.invdispflag.value=='0' "  >
                                        <label class="form-label semibold" for="exampleInput">Price Enq No  </label> 
                              
                              
                                          <select  class="form-control"  (change)="viewEdit()"    formControlName="id">
                                            
                                              <option *ngFor="let item of editdata; let i = index"    value={{item[0]}}>{{item[1]}}</option>
                                                
                                          </select>
                                   </div> 

                                   
                                      <div class="col-lg-4"  *ngIf="registerForm.controls.invdispflag.value=='1' "  >
                                            
                                    
                                          <label class="form-label semibold" for="exampleInput"> PrcEnq No 
                                                                       </label> 
                                                            
                                                     
                                            
                                                <input type="text" 
                                                class="form-control"  formControlName="formno" 
                                                  />
                                      
                                    
                                        </div> 
        
        
                                        <div class="col-lg-4">
                                            
                                    
                                                                <label class="form-label semibold" for="exampleInput">Date 
                                                                       </label> 
                                                            
                                              
                                              <input type="date" 
                                              class="form-control"  formControlName="date"/>
                                      
                                    
                                        </div> 
        
                        </div>   <br> <!-- splitcolumn  end--> 
           
                        <div class="title1"><u>Price Enquiry Products</u></div><br>

             <div formArrayName="prcenq"  class="flow"   >  <!--. table  start--> 
           

                 <table class="table styletab">
                     <thead class="stylehead">
                     <tr >
                            <th >S.No</th>
                            <th> Vendor Name</th>
                           
                                             
                        <th> Prod Name  </th> 
                        <th > Waiting  Qty  </th>
                        <th > Expected Order Qty  </th>
                        <th > Expected Price  </th> 
                      
                   
                        <th > Previous Price/Unit  </th>
                        <th > Credit Days  </th>
                        <th > Lead Time  </th>
                        <th>Remarks </th>
                         

                     </tr>
                 </thead>
                <tbody class="stylebody">
                 <tr *ngFor="let address of registerForm.controls.prcenq.controls; let i=index" [formGroupName]="i">
           
                                               
             <td><input   value={{i+1}} id="width2" readonly/></td>
             
<td><input  formControlName="vendorname"  id="width5" style="text-align:left"  readonly/></td>
<td><input  formControlName="drugname" id="width6" style="text-align:left" readonly/></td>
<td><input      formControlName="prodwaitingqty" id="width3"   readonly  /></td>
<td><input      formControlName="exppoqty"    readonly /></td>
<td><input      formControlName="exppoprice" class="right"   readonly /></td>

<td><input      formControlName="previouspoprice" class="right"  readonly   /></td>
<td><input  formControlName="creditdays" id="width3"   readonly /></td>
<td><input  formControlName="leadtime"  id="width3"  readonly /></td>

   <td><input  formControlName="remarks"  readonly /></td>   


                  </tr>
                  </tbody>
             
                 </table>

        </div>     <!--. table     end--> 
                             
            
             
              
              </div><br>
                <!-- box-typical-->
                

                 
              <div class="row">   <!-- row Start--> 
  
                <div class="col-lg-1"></div>
               <div class="col-lg-3">      <button  type="button" class="btn btn-round"
                   [routerLink]="['/PriceEnquiry/ViewPriceEnquiry']" > Back  </button>  </div>     
            
                                                                                                 
             </div>  <!-- row end--> 
            
            </form>
        
        
            </app-card>
            
            
        
        