<style>
	.nodata {
		text-align: center;
		width: 100%;
		padding: 10px;
		font-size: 25px;
		color: rgb(245, 50, 50);
		font-family: Verdana, Geneva, sans-serif;
	}

	.action {
		font-size: 15px;
		color: green;
	}

	.action1 {
		font-size: 15px;
		color: red;
	}

	.data-search {
		width: 70%;
		margin-left: 0.5em;
		display: inline-block;
		max-width: 150px;
	}

	.module-assign {
		width: 100%;
		height: 25px;
		font-size: 16px;
		padding: 4px;
		font-size: 1.0em;
	}
</style>
<app-card>
	<div align="right">
		<button class="btn btn-success btn-round btnlinklist" (click)="addEdition()" >Add Edition</button>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
			<div>
				<label class="label-control">Show
					<select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
						<option [ngValue]="1">1</option>
						<option [ngValue]="25">25</option>
						<option [ngValue]="50">50</option>
						<option [ngValue]="100">100</option>
					</select>
					Entries
				</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
			<div class="form-inline" >
				<strong style="margin-left:65px">Search :</strong>
				<input type="search" [(ngModel)]="filterQuery" class="form-control ml-2 w-75" placeholder="Search Edition">
			</div>
		</div>
	</div><br>
	<div class="dt-responsive">
		<div style="overflow: auto;">
			<table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
			 #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
				<thead>
					<tr>
						<th>
							<mfDefaultSorter by="sno"><h6>S.No</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="DomainName"><h6>Country Name</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="ProductName"><h6>Product Name</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="DomainName"><h6>Domain Name</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="sub-DomainName"><h6>Sub-Domain Name</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="editionName"><h6>Edition Name</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="version"><h6>Version</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="editioncode"><h6>Edition Code</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="editionType"><h6>Edition Type</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="days"><h6>Days</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="editionType"><h6>Edition Date</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="status"><h6>Status</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="action"><h6>Action</h6></mfDefaultSorter>
						</th>
						<th>
							<mfDefaultSorter by="view"><h6>view</h6></mfDefaultSorter>
						</th>
					</tr>
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr *ngIf="(data | dataFilter : filterQuery) == 0">
						<td></td>
						<td></td>
						<td></td>
						<td class="nodata">No matching Records found....</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr *ngFor="let val of mf.data;let i=index">
						<td>{{i+1}}</td>
						<td>{{val[0]}}</td>
						<td>{{val[1]}}</td>
						<td>{{val[2]}}</td>
						<td>{{val[3]}}</td>
						<td>{{val[4]}}</td>
						<td>{{val[5]}}</td>
						<td>{{val[6]}}</td>
						<td>{{val[7]}}</td>
						<td>{{val[8]}}</td>
						<td>{{val[9]}}</td>
						<td>
							<span class="label label-success" *ngIf="val[10]=='0'" style="font-size: 16px;">Active</span>
							<span class="label label-danger" *ngIf="val[10]=='1'" style="font-size: 16px;">In Active</span>
						</td>
						<td>
							<input type="button" class="btn btn-warning btn-round module-assign" value="Assign Module" (click)="geAssignmodule(val[11],val[12])">
						</td>
						<td>
							<button type="button" class="btn btn-inverse btn-round module-assign" (click)="assignmoduleDetails(val[11])">View</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="14">
							<mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</app-card>
<ng2-toasty [position]="position"></ng2-toasty>