









<style>
    
    
        
        



   
       .row input ,.row label ,.row select{
         margin-bottom: 6px;
         padding-right: 0px;
         padding-left: 0px;
         margin-right: 0px;
         margin-left: 0px;
         
     }
 





        
     .table-responsive {
        height: 400px;
        overflow-y: scroll;
    }

    
       



    .scrollnew{

    height:3000px;

    background-color:   transparent  ;
  }




        </style>
            
            
 
            <app-card>
            

                             

            <form [formGroup]="registerForm"  >
            
            
                <div class="box-typical box-typical-padding">
            
        
                    <div class="row"> <!--.row1start--> 
        
        
                          <div class="col-md-5">
                                <div class="row">
                
                                    

                                    <div class="col-md-5">
                                        
                                
                                                     <label class="form-label semibold" for="exampleInput">Invoice All   </label>
                                                             
         
                                                    </div>
                                               <div class="col-md-7">
                                                  <select  class="form-control"  (change)="viewSalesInvView()"     formControlName="inv"  >
                                                
                                                 <option value="1">S Inv</option>
                                                 <option value="2">S Dummy </option>
                                                  </select>
                                                        
                                            </div> 

                                  
                                </div> 
                            </div> 

                   
                
                      
           
        
                           <div class="col-md-5">
                                <div class="row">
                
                                        <div class="col-md-5">
                                        
                                
                                                     <label class="form-label semibold" for="exampleInput">Customer name  </label>
                                                             
         
                                                    </div>
                                               <div class="col-md-7">
                                                  <select  class="form-control"  (change)="viewSalesView()"    formControlName="customerrefid"
                                                 >
                                                      <option *ngFor="let item of   customers; let i = index"
                                                          value={{item[0]}}>{{item[1]}}</option>
                                                  </select>
                                                        
                                            </div> 
                               
                                     
                                 
                              </div> 
                            </div> 
                
                       
                           
          
        
                           <div class="col-lg-2">
                                <div class="row">
           
                                </div> 
                            </div> 
                                     
                                       
                                      
                                                                                                 
                         
                
                     
        
                </div>  
           
                                          

                 
                                
       
     
                <div class="table-responsive">
                    <table class="table table-bordered">
                
                        <tr>
                            <th>InvoiceId</th>
                            <th>InvoiceDate</th>
                            <th>InvoiceNo</th>
                       
                            <th>Edit</th>
                        
                
                
                        </tr>
















                        <tr *ngFor="let item of datall">
                            <td>{{item[0  ]}} </td>
                            <td>{{item[1  ]}} </td>
                            <td>{{item[2  ]}} </td>
                      
                
                            <td   *ngIf="registerForm.controls.inv.value==1 "   ><a [routerLink]="['/SalesInvoice/slsInvEdit',item[0]]"
                                class="btn btn-primary ">Edit</a></td   >
                     
                                <td   *ngIf="registerForm.controls.inv.value==2 "  ><a [routerLink]="['/SalesInvoice/sdummyEdit',item[0]]"
                                    class="btn btn-primary ">Edit</a></td   >


                        
                        </tr>
                    </table>
                </div>


                        

            
                    <h5></h5>
              
                    <div class="row"> <!--.row1start--> 
                        
                        
                                
                        
                          
                        
                        
        </div>   <!-- rrghghf 1-->
                                        
              </div>
                <!-- box-typical-->
            
            </form>
         
        
        
            </app-card>
            
            
        
          <div class="scrollnew">   </div> 